[2013-03-12 04:29] jcfr opened #3 "Include ExternalData conditionally"
See https://github.com/BRAINSia/BRAINSTools/commit/3b3b8c4aadbca6aa2869fc059c02a1d8c9da04ca#commitcomment-2784641

By applying the method reported in the comment, Slicer will be ensured to include its own version instead of the one bundled with BRAINS.

Waiting that all of our projects depends strictly on CMake 2.8.11, it allows the ExternalData.cmake within Slicer to be different ...

[2013-03-12 10:34] jcfr opened #4 "Remove debug statement displaying "HERE""
[code]

[2013-03-12 10:46] jcfr opened #5 "DoubleConvert: Should not depend on DCMTK"
See https://github.com/BRAINSia/BRAINSTools/blob/master/SuperBuild/External_DoubleConvert.cmake#L35-37

Is there any particular reason the project depends on DCMTK ?

[2013-03-12 10:47] jcfr opened #6 "DoubleConvert: _DIR variable should not be related to ITK"
See https://github.com/BRAINSia/BRAINSTools/blob/master/SuperBuild/External_DoubleConvert.cmake#L84

This is probably a copy/paste error

[2013-03-12 11:04] jcfr opened #7 "Build / find_package for DoubleConvert project only if DWIConvert is enabled."
Self explanatory

[2013-03-12 13:35] #7 closed, assigned to Chaircrusher

[2013-03-12 16:02] #6 closed, assigned to nobody

[2013-03-12 16:02] #5 closed, assigned to Chaircrusher

[2013-03-12 16:03] #4 closed, assigned to Chaircrusher

[2013-04-20 10:29] #3 closed, assigned to nobody

[2013-05-14 19:00] jcfr opened #34 "COMP: Fix unused variable warning in itkIO.h"
Warning reported on Slicer dashboard:

[code]

Line: https://github.com/BRAINSia/BRAINSTools/blob/master/BRAINSCommonLib/itkIO.h#L296

[2013-05-14 19:03] jcfr opened #35 "COMP: Fix unreferenced local variable warning in BRAINSResample.cxx"
Warning reported on Slicer dashboard:

[code]

Line: https://github.com/BRAINSia/BRAINSTools/blob/0c0eae75130ffe9d8c91cac01f4c18c2259b68e5/BRAINSResample/BRAINSResample.cxx#L136

[2013-05-14 19:06] jcfr opened #36 "COMP: Fix unreferenced local variable in VValidationInputParser.hxx"
Warning reported on Slicer dashboard:

[code]

Line: https://github.com/BRAINSia/BRAINSTools/blob/master/BRAINSDemonWarp/ValidationInputParser.hxx#L96

[2013-05-26 14:13] #34 closed, assigned to Chaircrusher

[2013-05-26 14:16] #36 closed, assigned to Chaircrusher

[2013-05-26 14:25] #35 closed, assigned to Chaircrusher

[2013-06-26 19:42] fedorov opened #46 "Add exception handling instead of return value checks on DCMTK GetElement* calls"
It turns out, DCMTK GetElement\* do not return non-success value on failure. Instead they throw exceptions: eg see Modules/IO/DCMTK/src/itkDCMTKFileReader.cxx:939.

As a result, failure to find a certain element in the input DICOM series leads to failure of the DWIConvert tool.

This can be fixed by adding try {} catch (...) {} around the calls. I did this for my use case, and it fixed the problem

[2013-07-01 20:13] #46 closed, assigned to Chaircrusher

[2013-07-17 20:49] felixveysseyre opened #57 "DWIConvert error when trying to convert DICOM to NRRD"
Hello,

I'm currently trying to convert a DICOM directory into a NRRD file trough your slicer plugin DWIConvert.

When I run the command line:
./DWIConvert --inputDicomDirectory /home/felix/Downloads/1020_DICOMS --outputDirectory /home/felix/Downloads/Test --outputVolume test.nrrd

I have the following report:
terminate called without an active exception
Aborted (core dumped)

I am using the lates

[2013-09-18 01:19] fedorov opened #64 "Allow to turn off atlas download"
For users like me, who only need registration, this is not really needed - takes a long time to download.

Minor issue, on the relative scale.

[2013-09-18 12:07] #64 closed, assigned to nobody

[2013-09-18 12:09] #57 closed, assigned to Chaircrusher

[2013-09-19 15:15] fedorov opened #66 "Report what exception is before re-throwing"
Currently, exception is not caught, and the user get this cryptic error message when output file cannot be created:

Here is the fix:

[code]

I tried to create a pull request, but I am unable to commit the change (to my own git fork!), because of this error message: "Your work tree has not been configured for development." Running ITK_DIR/Utilities/SetupForDevelopment.sh does not fix this error.

[2013-09-19 21:47] ihnorton opened #67 "DWIConvert: FSLtoNrrd mode inputVolume in GUI"
FSLToNrrd does not seem to be supported from the GUI, because it requires a CLI image type of  "diffusion-weighted" (which no nifti loaded into Slicer can ever be, as far as I know). Perhaps changing the restriction to require a multi-volume scalar image would work with a 4d nifti volume loaded into. Alternatively, it would be useful to provide an input file-selector option under the FSLToNrrd par

[2013-12-03 16:57] jcfr opened #73 "BRAINSDemonWarp does NOT compile against ITK v4.5rc01"
Ubuntu 13.10
$ gcc --version
gcc (Ubuntu/Linaro 4.8.1-10ubuntu8) 4.8.1

[code]

[2013-12-31 18:20] #66 closed, assigned to nobody

[2013-12-31 18:21] #73 closed, assigned to Chaircrusher

[2013-12-31 18:26] pieper opened #76 "Siemens Sonata DWIConvert issue from slicer-users list"
---------- Forwarded message ----------
From: uhlich uhlich@ualberta.ca
Date: Fri, Oct 18, 2013 at 12:34 PM
Subject: [slicer-users] Siemens Sonata DWIConvert Issue
To: slicer-users@bwh.harvard.edu

Hi all,
Thanks to afe in the last thread, I know how to use DWIConvert on CentOS
now.

Interestingly, it still has a small issue that I had run up against a few
times while using DicomToNrrdConverter on

[2014-01-17 17:53] pieper opened #77 "Philips Achieva DWI data can't be converted"
This data was acquired on a Philips Achieva system in the Czech Republic.  It is an anonymous study of a volunteer that can be shared for debugging - the same error occurs with clinical data so this is not an artifact of anonymization.

The directory tree contains the following files that are part of the same DWI series:

  DICOM/IM_0027 through DICOM/IM_2048

and

 DICOM/00000001/IM_0001 through

[2014-01-22 17:40] hjmjohnson opened #78 "When writing bvec,bval files, the bvec values should all be unit norm"
Kent,

When writing bvec files, the vectors all need to be normalized to unit length.  For this format, the magnitude of the  bval is encoded separately from the directions. (in the NRRD files they are combined).

Could you make this change quickly?

Thanks,
Hans

hi martin and hans,

indeed the place where the issue is in the conversion. i would like to note that even with single b-values, scanne

[2014-01-22 18:24] #78 closed, assigned to Chaircrusher

[2014-03-31 16:52] jcfr opened #80 "Shadow declaration in GenericTransformImage"
Slicer [r23029](http://viewvc.slicer.org/viewvc.cgi/Slicer4?view=revision&revision=23029)
BRAINSTools bd755e2d82

[code]

[2014-04-11 15:31] #67 closed, assigned to hjmjohnson

[2014-04-11 15:33] #76 closed, assigned to nobody

[2014-04-11 15:44] #77 closed, assigned to nobody

[2014-06-16 13:37] jcfr opened #97 "BRAINS modules complain about libBRAINSCommonLib.a missing. At build log strange directory for search of this file."
[code]

Originally reported on Slice tracker: http://www.na-mic.org/Bug/view.php?id=3739

[2014-06-17 11:20] AleksDark opened #98 "make error : get_property could not find TARGET zlib. Perhaps it has not yet been created."
Suggestions?
Debian system, first time to build complete version of BRAINSTools.
Error message:

-- SuperBuild - BRAINSTools => Requires DCMTK, ITKv4, SlicerExecutionModel, teem, Boost, ReferenceAtlas, VTK, OpenCV, ANTs, PCRE, Swig, SimpleITK, NIPYPE,
-- SuperBuild - First pass
-- SuperBuild - First pass - done
CMake Error at /usr/share/cmake-2.8/Modules/ExternalProject.cmake:642 (get_property):

[2014-06-26 01:37] jcfr opened #106 "Running ./Utilities/SetupForDevelopment.sh script for the first time outputs errors."
[code]

[2014-06-26 14:21] #106 closed, assigned to nobody

[2014-07-04 04:25] #97 closed, assigned to Chaircrusher

[2014-07-04 04:26] #80 closed, assigned to nobody

[2014-07-04 15:51] jcfr opened #119 "Optmize build system by having every sup-project specifying its direct requirements."
Work in progress: https://github.com/jcfr/BRAINSTools/tree/update-build-system-with-find-package-per-sub-project

To help address issue Slicer issue [3741](http://na-mic.org/Mantis/view.php?id=3741), call to `find_package` associated to  ITK, VTK, SlicerExecutionModel and other external projects should be moved into each sub project, library or module expecting it.

This allows to reduce both the

[2014-07-07 14:20] pieper opened #120 "some debugging code is causing BRAINS in Slicer to fail"
Miller, James V (GE Global Research)
9:35 AM (45 minutes ago)

to Jean-Christophe, me, Hans
It also looks like the file referenced was last changed during the port of BrainsFit to the ITKv4 registration framework.  So some of the performance issues could be related to that.

Jim

From: Jean-Christophe Fillion-Robin [mailto:jchris.fillionr@kitware.com]
Sent: Monday, July 07, 2014 9:32 AM
To: Steve

[2014-07-09 21:58] pieper opened #121 "new module name clashes with slicer's LabelStatistics module"
Could the brains tool expose a different name than LabelStatistics?

See discussion here:
http://slicer-devel.65872.n3.nabble.com/Label-statistics-module-tt4032042.html#none

[2014-07-15 16:30] heffter opened #126 "Unable to compile with VS2010 Win64"
Unable to compile BRAINSTools HEAD with VS2010 Win64:
- teem branch external project does not compile, however latest teem works:
  1. in src\gage\stackBlur.c bzero is gcc only, memset is platform independent
  2. in src\meet\meetPull.c line 169 should move to 152
- ANTs library does not compile:
  1. in Examples\ImageMath.cxx nesting of code blocks exceeds the limit of 128 nesting levels, changin

[2014-07-15 21:23] #126 closed, assigned to Chaircrusher

[2014-08-01 15:59] jcfr opened #132 "Fix shadow warnings"
These warning has been found bulding BRAINSTool in Slicer using c93655a0

[code]

[2014-08-02 16:29] #120 closed, assigned to hjmjohnson

[2014-08-02 16:31] #121 closed, assigned to Chaircrusher

[2014-09-09 21:35] jcfr opened #145 "Remove ITKv3Compatibility use in BRAINSCommonLib, BRAINSDemonWarp, ICCDEF"
Checked against BRAINSia/BRAINSTools@6b15c2b

using the following one-liner

[code]

Detailed listing:

[code]

This is motivated by the fact within Slicer, we would like to build ITK with the option `ITK_USE_64BITS_IDS` enabled. For this to work, the option `ITKV3_COMPATIBILITY` has to be disabled.

For reference, see:
- http://na-mic.org/Mantis/view.php?id=3825
- http://slicer-devel.65872.n3.nab

[2014-09-09 22:16] jcfr opened #146 "Remove ITKDeprecated use in BRAINSCommonLib, BRAINSSurfaceTools, ImageCalculator, GTRACT and ICCDEF"
Checked against BRAINSia/BRAINSTools@6b15c2b

using the following one-liner

[code]

Detailed listing:

[code]

[2014-09-12 19:47] #132 closed, assigned to Chaircrusher

[2014-09-15 16:21] #146 closed, assigned to nobody

[2014-09-15 17:19] #145 closed, assigned to Chaircrusher

[2014-09-15 17:22] #119 closed, assigned to Chaircrusher

[2014-09-15 17:31] jcfr opened #149 "Fix left-over shadowed declaration warnings"
See https://github.com/BRAINSia/BRAINSTools/issues/132#issuecomment-55604334 for details.

[2014-09-15 19:12] #98 closed, assigned to Chaircrusher

[2014-09-15 19:16] #149 closed, assigned to nobody

[2014-09-24 14:40] hjmjohnson opened #152 "BRAINS without V3 compatibility"
-----Original Message-----
From: <Johnson>, Hans Johnson hans-johnson@uiowa.edu
Date: Wednesday, September 24, 2014 at 9:39 AM
To: Bradley Lowekamp blowekamp@mail.nih.gov
Cc: Kent Williams nkwmailinglists@gmail.com
Subject: Re: BRAINS without V3 compatibility

Kent,

Please take care of this ASAP this week.

Hans

-----Original Message-----
From: Bradley Lowekamp blowekamp@mail.nih.gov
Date: Wedne

[2014-09-24 14:41] hjmjohnson opened #153 "BRAINSABC segfaults without the '--atlasToSubjectInitialTransform' flag"
From: <Johnson>, Hans Johnson hans-johnson@uiowa.edu
Date: Wednesday, September 24, 2014 at 9:00 AM
To: Vincent Magnotta vincent-magnotta@uiowa.edu
Cc: Kent Williams norman-k-williams@uiowa.edu, David Welch david-welch@uiowa.edu
Subject: Re: BRAINSABC Bug

Kent,

  Please initialize this variable to an identity transform so that if it is not explicitly specified that it will have the correct value

[2014-09-25 14:20] #152 closed, assigned to Chaircrusher

[2014-09-25 14:46] jcfr opened #154 "Remove ITKDeprecated (and ITKV3Compatibility from list of ITK components"
To follow up with 13969f35, I would suggest to remove the corresponding ITK components.

See https://github.com/BRAINSia/BRAINSTools/search?utf8=%E2%9C%93&q=ITKDeprecated
and https://github.com/BRAINSia/BRAINSTools/search?utf8=%E2%9C%93&q=ITKV3Compatibility+

[2014-11-06 18:23] styner opened #158 "DWIConvert incorrectly handles multiple b-values for FSLtoNrrd"
when using FSLtoNRRD with a multiple b-value DWI, then DWIConvert sets all b-values to the maximal b-value. Probably simply copies maximal b-values as well as all the b-vecs, instead of scaling the b-vecs with the b-value prior to using the b-vecs as DWMRI_gradient in Nrrd.

[2014-11-06 19:19] fbudin69500 opened #159 "DicomConvert: FSL to NRRD - bvec in line instead of column"
Hello,

This is not a bug, but a feature request.
I saw that in certain cases the b-vec files I am getting (eg from TORTOISE) are in the following order:
x1 x2 x3 ...
y1 y2 y3 ...
z1 z2 z3 ...
instead of
x1 y1 z1
x2 y2 z2
x3 y3 z3
...
It would be great if there could be a new flag in DicomConvert that would allow the user to specify how the b-vecs are oriented.
Sincerely,

Francois

[2014-11-26 21:49] #159 closed, assigned to nobody

[2014-11-26 23:51] #153 closed, assigned to aghayoor

[2014-12-04 14:05] #158 closed, assigned to nobody

[2014-12-15 16:46] dmwelch opened #165 "COMPARE_SurfaceLabelCleanUp failing on Medusa"
Test failing since Nov. 19th: http://testing.psychiatry.uiowa.edu/CDash/viewTest.php?onlyfailed&buildid=37787

Broken revision link: https://github.com/BRAINSia/BRAINSTools/commits/e13105f37b55d66cf1b7be22dea9caca08ce51b9..adb3a2ef5bbb20cebfa8d4c7f5fa569b1a65f9b4

[2014-12-22 03:49] lassoan opened #166 "BrainsFit crashes if only one value is provided for bspline grid size"
See details in: http://www.na-mic.org/Bug/view.php?id=3916

[2014-12-22 17:25] #166 closed, assigned to aghayoor

[2015-01-16 19:53] hjmjohnson commented on #154
This was completed during NAMIC project week

[2015-01-16 19:53] #154 closed

[2015-01-16 19:54] hjmjohnson commented on #165
@dgellis90 David  Are you making progress on this issue?

[2015-01-16 20:48] dgellis90 commented on #165
The test is failing during the comparison because the scalar values of 0th component at 0th tuple in 0th array are different between the two surfaces. So either the reference surface is incorrect, or the SurfaceLabelCleanUp code is not doing what it's supposed to. However, it is not giving any errors or failing, so I'm not really sure where to start looking in the SurfaceLabelCleanUp code. It does

[2015-01-21 17:08] dgellis90 commented on #165
Pull request #173 should fix this issue.

[2015-01-23 17:05] hjmjohnson opened #174 "Followup with Alex about progress"
Eric:  Please send Alex your notes on how to install “homebrew”

a: Install Xcode
b: Install homebrew (google homebrew mac package manager)
c:      brew install git, cmake, subversion, autoconf, automake
d: "Unix Makefiles              = Generates standard UNIX makefiles.”
e: Find some ascii code editor

1: Make a github account
2: Fork  https://github.com/BRAINSia/BRAINSTools  into your own accou

[2015-02-11 15:31] hjmjohnson commented on #174
Eric did this and commented on JIRA.  Alex confirmed that he received the notes.

[2015-02-11 15:48] hjmjohnson opened #176 "Fix Failing Test for BRAINSABC"
Alex,

Please do the main work for this, and then send the email to @aghayoor  (ali-ghayoor@uiowa.edu)

The BRAINSABC test that is failing regression.

This is the test that is failing:
http://testing.psychiatry.uiowa.edu/CDash/testDetails.php?test=765554&build=38026

After review, I have determined that this test result is good.

Please make an e-mail to @aghayoor with the instructions necessary

[2015-02-11 15:50] #174 closed

[2015-02-11 15:50] hjmjohnson commented on #165
Pull request #173 should fix this issue.

[2015-02-11 15:50] #165 closed

[2015-03-03 20:21] dzenanz opened #179 "ROIAuto is NOT equivalent to manual cropping to non-zero part"
Executing BRAINSFit with ROIAuto set to ON is not equivalent to running BRAINSROIAuto and then feeding cropped images into BRAINSFit. I was using useMomentsAlign in both cases.

[Pyhton source code fragment exemplifying the issue](https://gist.github.com/dzenanz/bec172bd4af1f1527cf1)
[Fixed image](https://drive.google.com/file/d/0ByGZiVpMK4MXMEhJeW9OelhweVk/view?usp=sharing)
[Moving image](https:/

[2015-03-23 20:29] pmolfese opened #183 "DWIConvert alters bval/bvector values"
I've noticed that DWIConvert gets different b-values and b-vectors than what is represented in the DICOM files either when inspecting the DICOM files or using dcm2nii to grab values.  For example, with a b-value of 1000, DWIConvert seems to interpret this as 1002.

And while the first gradient out of dcm2nii is reported as:
 0.0471797 -0.906431 0.419709

The corresponding vector from DWIConvert is

[2015-04-16 20:48] hjmjohnson commented on #179
Correct.  The ROIAuto flag does not crop the data internally in BRAINSFit.  It only identifies the mask.

The cropping option of the stand alone BRAINSROIAuto is for different purpose.

[2015-04-16 20:51] hjmjohnson commented on #179
It is unclear what the desired behavior or change request is for this case.

[2015-04-16 20:51] #179 closed

[2015-04-16 20:52] hjmjohnson commented on #183
I thought we addressed this issue already in November of last year:  https://github.com/BRAINSia/BRAINSTools/issues/159

[2015-04-16 20:52] hjmjohnson commented on #183
George,

Does the DWI flag

   --transposeInputBVectors
     FSL input BVectors are expected to be encoded in the input file as one
     vector per line. If it is not the case, use this option to transpose
     the file as it is read (default: 0)

fix your issues?

This was added last year:
commit 7598454f22ade7d2b5b30b5706749f20e93ccbb7
Author: Hans Johnson <hans-johnson@uiowa.edu>
Date:   Wed No

[2015-04-18 16:49] hjmjohnson opened #185 "DWIConvert Images inverted."
DWIConvert loading images upside down.

Ali: We need a test that fails with the current code, and succeeds when the BUG regarding upside down data is resolved.

Here is a test patch to try.  I did not test it, I only made changes based on a guess to the problem. The code that you isolated changed behavior due to refactoring when adding the "else" component. of the if statement.

https://github.com

[2015-04-18 16:55] hjmjohnson commented on #185
Ali,
 It looks like the file DWICompare.cpp needs to have more tests to ensure that the origin/spacing/direction cosigns are maintained consistent to the tests.

NOTE:  It appears that DWICompare.cpp is only checking gradient directions.  It does not seem to be checking intensity information or spacing, or direction.

[2015-04-19 01:13] aghayoor commented on #185
Hans,

I think your changes (https://github.com/BRAINSia/BRAINSTools/commit/e766bd48454b43518d758cc0d668c66b65074931) won't address the current issue.

I narrowed down the problem to the mismatch between image0Origin and image1Origin in DWIConverter.h. Sorry that I had to leave working on this because of a big load of reading materials. Hopefully, I can spare 2 hours tomorrow to continue working o

[2015-04-19 15:09] hjmjohnson commented on #185
@aghayoor I added new patches to both the master branch, and the DWIConvertFixAttempt branch.

My tests are now failing, some of them due to the bug, some of them due to a need for tolerance int the tests.

Please update the "DWIConvertFixAttempt" patch to allow for small tolerance in spacing, origin, direction so that the values are close (using itk::Math::FloatDifferenceULP to make comparisons).

[2015-04-19 20:31] aghayoor commented on #185
@hjmjohnson A test message from Github!

[2015-05-05 16:30] gblokland opened #186 "ConvertBetweenFileFormats / DWIConvert: nrrd to nii -> Images squashed"
Hi,
I'm using ConvertBetweenFileFormats to convert T1-weighted scans/brain masks from nrrd to nii. However, after installing the latest version of BRAINSTools a strange resampling happens when I convert to nii: The brain in squashed in one of the directions (L-R or S-I) (One plane looks normal). I also tried to use DWIConvert, but the same thing happens. With the older version of BRAINSTools (inst

[2015-05-05 17:24] dmwelch commented on #186
Are you building off the master branch?  We've been working on some issues with NRRD conversion, so you may be building a broken commit.  (I know and we're sorry. :disappointed: )

Can you paste the NRRD header from your file and we'll see what we can do?  ITK's support for 4D NRRD is still buggy so I suspect that your image isn't indexed the way itk::NrrdIO is expecting...

[2015-05-05 17:35] gblokland commented on #186
Hi David,

This is what I ran to build BRAINSTools:

	git clone https://github.com/BRAINSia/BRAINSTools.git
	mkdir BRAINSTools-build && cd BRAINSTools-build
	CC=/usr/bin/gcc \
	CXX=/usr/bin/g++ \
	ccmake ../BRAINSTools \
	-DUSE_BRAINSFit:BOOL=ON \
	-DUSE_BRAINSConstellationDetector:BOOL=ON \
	-DUSE_BRAINSABC:BOOL=ON \
        -DUSE_ConvertBetweenFileFormats:BOOL=ON \
	-DPYTHON_EXECUTABLE:PATH=/usr

[2015-06-04 20:29] mlmia opened #191 "CXX_HAS_DISABLE_OPTIMIZATION_FLAG failed"
When we compile BRAINSTools on Scientific Linux release 7.1 (Nitrogen), we receive the following error (see below) - any help would be much appreciate.

---------------------------------------------------------------------------------------------------------------

Performing C++ SOURCE FILE Test CXX_HAS_DISABLE_OPTIMIZATION_FLAG failed with the following output:
Change Dir: /usr/local/toolboxes/B

[2015-06-08 15:47] dmwelch commented on #186
Gabriella,

Sorry for the delay - a few questions to give me more info:
1) what version of gcc do you have?
2) what OS are you running?

Also, can you send one of your NRRD files that your having the issue with?

Dave

[2015-06-08 16:17] gblokland commented on #186
Hi David,

gcc version: gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-11)

OS: CentOS release 6.6 (Final)

Attached is one of the NRRD files we would like to convert back to nifti.

Thanks!
Gabriëlla

[2015-06-08 19:19] dmwelch commented on #186
I don't see an attachment.  Can you email me it directly (we'll keep discussion here)?

[2015-06-09 20:03] dmwelch commented on #191
Is this a test failure or a build failure? It's not clear from your report what test is failing.  Please provide:
1. your command line
2. the contents of `/usr/local/toolboxes/CMakeCache.txt`
3. the location of the source directory (i.e. was this an "in-source build" or not?)
4. Name of failing test, if applicable.

Cheers!

[2015-07-03 19:59] gblokland opened #195 "unrecognized command line option "-Wno-long-double""
Hi,

We're trying to install BRAINSTools on Scientific Linux release 6.6 (Carbon), with:
gcc (and g++) version: gcc (GCC) 4.4.7 20120313 (Red Hat 4.4.7-11).

Code run:

git clone https://github.com/BRAINSia/BRAINSTools.git
mkdir BRAINSTools-build && cd BRAINSTools-build
CC=/usr/bin/gcc \
CXX=/usr/bin/g++ \
ccmake ../BRAINSTools \
	-DUSE_BRAINSFit:BOOL=ON \
	-DUSE_BRAINSConstellationDetector:BOOL=O

[2015-07-06 16:51] hjmjohnson commented on #195
Gabriella,

You have the wrong message regarding why your builds are failing.  The correct error message is:

/opt/BRAINSTools-build/ITKv4/Modules/IO/TransformBase/src/itkTransformFileWriterSpecializations.cxx:176: error: using ‘typename’ outside of template

We fixed this last week, and the newest release of BRAINSTools should now work.

Hans
=========================================
Hans J. John

[2015-07-06 16:53] hjmjohnson commented on #195
Was fixed in this release when building stand alone.

https://github.com/BRAINSia/BRAINSTools/commit/52302842a7e16813266ee86fc2840b0615bb7ced

[2015-07-06 16:53] #195 closed

[2015-07-06 16:55] hjmjohnson commented on #183
https://github.com/BRAINSia/BRAINSTools/commit/4dbc02d75530934cd5370aff7fdcf1fd893af069
https://github.com/BRAINSia/BRAINSTools/commit/b2fd801d6a7d1a99048de3a4dcc66b6c26e008e6

Fixed in these two patches (along with other fixes).

[2015-07-06 16:55] #183 closed

[2015-07-06 17:02] hjmjohnson commented on #186
We will need test data in order to debug this.

[2015-07-06 17:03] hjmjohnson commented on #191
We have been unable to reproduce this error, so we can not fix. Please re-open if futher information can be provided.

[2015-07-06 17:03] #191 closed

[2015-07-06 17:03] hjmjohnson commented on #185
@aghayoor   What is the status of this work?

[2015-07-06 18:17] aghayoor commented on #185
This issue is fixed:
https://github.com/BRAINSia/BRAINSTools/commit/66703244984c0023d01f2ed6bda0d9ca5ea4ea6d
https://github.com/BRAINSia/BRAINSTools/commit/5fecb44ab59c335e3093a0ab477d63d837975512

[2015-07-06 18:17] #185 closed

[2015-07-07 01:13] liangfangfangl opened #196 "built target ANTs Error"
There is 2 error when the src was built in ubuntu 12.04.5. The tip is "no install step for 'ANTS' ".

[2015-07-16 21:22] hjmjohnson opened #197 "Slicer now supports fcsv files for inputs and outputs!"
Low priority, but for BRAINSConstellation detector, point files are now supported for Slicer integration!

https://github.com/Slicer/SlicerExecutionModel/commit/d7d3c9c1b9cdf659319c1f11f33e7765d5edd0e7

[2015-07-20 14:09] hjmjohnson commented on #186
Without test data, there is no way for us to proceed efficiently.

[2015-07-20 14:59] gblokland commented on #186
Hi,

I sent test data before. Attaching it to the github message didn’t work so I sent the files directly to David Welch.

Best wishes,
Gabriëlla
----------------------------------------------------------------------------------------------------------------------------------
Gabriëlla A. M. Blokland, Ph.D.
Postdoctoral Research Fellow

Petryshen Laboratory
Psychiatric and Neurodevelopmental Genet

[2015-07-20 20:13] dmwelch commented on #186
Forwarding the test data to Hans

[2015-07-21 19:57] hjmjohnson commented on #186
???
I just downloaded the test data, ran:
~/src/NEP-11/bin/ConvertBetweenFileFormats mabs_brainmask.nrrd mabs_brainmask.nii

Loaded both data sets in Slicer3D, and they were identical.   We have not

The last non-documentation change to the code was in 2012.

Hans

[2015-07-21 19:57] #186 closed

[2015-07-21 19:58] hjmjohnson commented on #196
Could not replicate error.

[2015-07-21 19:58] #196 closed

[2015-08-05 19:09] fbudin69500 opened #201 "Version number written in log file of DWIConvert"
The version of DWIConvert that is written in the log file is hard-coded in the source file of DWIConvert. The version number of DWIConvert has been changed from 1.0 to 4.4.0 but the version number that is hard-coded in DWIConvert.cxx has not been updated.

https://github.com/BRAINSia/BRAINSTools/blob/master/DWIConvert/DWIConvert.cxx#L471-L475

[2015-08-07 13:51] hjmjohnson commented on #201
@fbudin69500 Thank you.  We will try to address this soon.

Hans

[2015-08-20 00:30] aghayoor commented on #201
This is fixed:
https://github.com/BRAINSia/BRAINSTools/commit/7f0daee67c442e5eb6af01c042d942b4f5be26d4

[2015-08-20 00:30] #201 closed

[2015-08-20 17:57] juanprietob opened #203 "Conversion DICOM -> NRDD -> NIFTI vs. DICOM -> NIFTI"

[2015-08-20 18:34] juanprietob commented on #203
I am closing the issue.

[2015-08-20 18:34] #203 closed

[2015-09-23 14:09] dzenanz opened #212 "Registration deconverges"
Invoking the registration (from e.g. nightly build of Slicer) with many parameter combinations (including the defaults) with below inputs (fixed and moving images and initial registration transform which is very close) results in registration veering off course. This should not happen. Both images together are 1 megabyte.

https://dl.dropboxusercontent.com/u/48665006/bugFixed.nrrd
https://dl.dropb

[2015-09-23 14:49] hjmjohnson commented on #212
We will need registration parameters and the command line that you used in order to replicate the problem.

[2015-09-23 14:53] dzenanz commented on #212
General Registration (BRAINS) command line:

slicer:000007FEDE9CB5E0 --processinformationaddress 000000001219F908 --fixedVolume slicer:0000000003D2FFD0#vtkMRMLScalarVolumeNode4 --movingVolume slicer:0000000003D2FFD0#vtkMRMLScalarVolumeNode2 --linearTransform C:/Users/Dzenan/AppData/Local/Temp/Slicer/GCGA_vtkMRMLLinearTransformNodeF.h5 --initialTransform C:/Users/Dzenan/AppData/Local/Temp/Slicer/GC

[2015-10-01 05:46] jcfr commented on #212
@dzenanz If within Slicer Module settings, you set "Prefer CLI executable", the command line logged will contain file paths instead of memory references like `slicer:000007FEDE9CB5E0`, that should help debugging.

[2015-10-01 12:12] dzenanz commented on #212
"C:/Program Files/Slicer 4.4.0/lib/Slicer-4.4/cli-modules/BRAINSFit.exe" --fixedVolume C:/bugFixed.nrrd --movingVolume C:/bugMoving.nrrd --linearTransform C:/resultTransform.h5 --initialTransform C:/bugInitial.txt --initializeTransformMode Off --samplingPercentage 0.002 --useRigid --splineGridSize 14,10,12 --numberOfIterations 1500 --maskProcessingMode NOMASK --outputVolumePixelType float --backgr

[2015-10-01 13:25] hjmjohnson commented on #212
@dzenanz

Can you please share the input files (images and transforms) so that we can replicate the problem in our environment?

Thanks,
Hans

[2015-10-01 15:37] dzenanz commented on #212
I did, in the first post. Here are the links again:
https://dl.dropboxusercontent.com/u/48665006/bugFixed.nrrd
https://dl.dropboxusercontent.com/u/48665006/bugMoving.nrrd
https://dl.dropboxusercontent.com/u/48665006/bugInitial.txt

[2015-10-08 19:33] ajjl opened #214 "COMPARE_GenusZeroImageFilter test output"
@aghayoor @hjmjohnson
This test passes on debian and mac:
http://my.cdash.org/testDetails.php?test=21303298&build=835882

but the output shows errors:
Error during write of {....}/BRAINSTools-build/BRAINSSurfaceTools/GenusZeroImageFilter/TEST_GenusZeroImageFilter.nii.gz.base.png
Error during write of {same path}/TEST_GenusZeroImageFilter.nii.gz.test.png

I'm not exactly sure whats wrong or how to

[2015-11-11 05:16] pnlbwh opened #220 "Build fails on ANTs download step"
Keep running into this error (see below), but sometimes it works, and I can't figure out why.
git diff `ExternalApplications/MALF/CMakeLists.txt` shows only trivial line ending or space removal changes for each line.  The ANTs repo is checked out as master, but in the instance that the build worked it was headless.

Any idea what's going on?

------
[ 64%] Performing download step (git clone) for

[2015-11-11 12:20] hjmjohnson commented on #220
Even trivial line changes are line changes.

In order to do a git update, it is REQUIRED that you have no local changes (not even a single space change).

If you cd into the ANTs source code directory and type “git reset HEAD —hard” that should allow you to continue building.

Hans

From:  pnlbwh <notifications@github.com>
Reply-To:  BRAINSia/BRAINSTools <reply@reply.github.com>
Date:  Tuesday, No

[2015-11-11 22:13] pnlbwh commented on #220
I had to set 'git config --global core.autocrlf false' before building so that the line endings aren't changed on checkout, thanks for the hint.

[2015-11-11 22:13] #220 closed

[2015-11-14 13:53] hjmjohnson commented on #176
@aghayoor Ali please close this if it is no longer relavant.

[2015-11-15 23:56] aghayoor commented on #176
@hjmjohnson : The "http://testing.psychiatry.uiowa.edu" link is not working anymore, so I cannot see which test exactly the given link points to. However, BRAINSABCSmallTest that is submitted to new dashboard is passing successfully before and after adding pure plugs mask.

[2015-11-15 23:56] #176 closed

[2015-11-17 15:10] hjmjohnson opened #221 "Place crashdump files in workflow base directory."
A common problem with our batch processing is that crashdump files clutter up the script directory.  We fully expect many failed runs (due to using the all.q), and the large number of these crash files need to be constantly cleaned up.

Test and add something similar to the following so that the crash files goto the temporary cache directory that is easier to delete.

workflow.config['execution'][

[2015-11-17 15:42] reginakim commented on #221
Lucky, I just made my NamicExternal build on my OS X. ;)

Some quick search:
http://unix.stackexchange.com/questions/174817/finding-the-correct-tmp-dir-on-multiple-platforms

1. On OS X:

[code]

2. On Linux:

[code]

I will let you know once I start testing these.

Regina

[2015-11-24 18:18] aghayoor commented on #212
@dzenanz

When running a registration process, the transforms should be ordered appropriately for the processing i.e. transforms go from low dimensional to high dimensional. See following ordering for BRAINSFit:
Rigid=1, ScaleVersor3D=2, ScaleSkewVersor3D=3, Affine=4, and (BSpline or SyN)=5

In your example, your initial transform is an "affine" transform; however, you run only one rigid step at t

[2015-11-24 22:03] dzenanz commented on #212
The initial transform is a rigid transform (there is no scaling and no skew present in the transform). However when saving it to disk, Slicer always writes it as affine. In fact, Slicer does not have a simpler transform type than "Linear" - ITK's affine.

[2015-11-25 15:39] #221 closed

[2015-11-26 01:52] aghayoor commented on #212
What is important here is the dimension and the type of your initial transform, even though it may just do orientation and translation.
If you want to have only Rigid registration, use one of the "Initialize Transform Mode" in BRAINS.
For example using "useGeometryAlign" mode provides acceptable initialization in your test case.

[2015-11-26 01:55] hjmjohnson commented on #212
Based on Ali's description of the problem, I am assuming that your initial images do not initially overlap in physical space.

(They may overlap in voxel space, but the origins/directions) cause them to be disjoint in physical space.  You would then need to give some initial transform to provide overlaping regions for registrations tosucceed..

[2015-11-26 14:44] dzenanz commented on #212
What I was doing is register two downsampled images using rigid mode, and trying to pass the output transform as initialization to a higher resolution version of the same images to do rigid registration again. To my amazement, the second registration sometimes goes out of whack even if the first one finishes correctly. I guess what I was trying to do is not a supported use-case?

[2015-12-10 20:33] dtosun commented on #183
I have a similar issue.

I just installed the latest Slicer release (4.5.0-1 for macosx).

If I run DWIConvert from the Slicer user interface to convert an nhdr/raw.gz image to a nifti image, it creates the bvec and bval files with correct entries but doesn't create a .nii image file.

Then if I use the command line to convert the nhdr/raw.gz image to a nii image, it creates the nii file properly

[2015-12-11 06:14] ihnorton commented on #76
The issue here appears to be that the CSA header tag is missing, so `ExtractDWIData` throws when it doesn't find that tag. I have some single slice (not mosaic) phantom data that fails with the same error, but works fine with dcm2nii -- I believe it falls back to `(0x0019, 0x100e)` where the gradient information is available. Interestingly, the newer dcm2niix also fails on this dataset, but has so

[2015-12-11 16:19] dtosun opened #226 "DWIConvert alters bval/bvector values when run using command line"
I have a similar issue: https://github.com/BRAINSia/BRAINSTools/issues/183

I just installed the latest Slicer release (4.5.0-1 for macosx).

If I run DWIConvert from the Slicer user interface to convert an nhdr/raw.gz image to a nifti image, it creates the bvec and bval files with correct entries but doesn't create a .nii image file.

Then if I use the command line to convert the nhdr/raw.gz imag

[2015-12-11 17:15] ihnorton commented on #226
@dtosun:

I agree this is confusing -- could you please open a separate issue about this?

It's a bit difficult to debug without more information (test data or at least a log of the DWIConvert output). However, I have coincidentally been working through such a comparison myself recently. In my (limited) test cases, the difference between dcm2nii and DWIConvert gradient directions is explained by t

[2015-12-11 17:26] ihnorton commented on #226
i.e.:

[code]

the output of the last step matches the first gradient in the bvec file for this dataset.

[2015-12-14 20:15] dtosun commented on #226
We figured out the problem. in our nhdr header file, bvectors are listed with comma separation. once I replaced the commas with space, it worked fine.

thanks for your response.

[2015-12-14 20:15] #226 closed

[2016-03-12 00:11] hjmjohnson opened #260 "BRAINSFitTest_ROIBSpline Needs updated reference dataset"
@aghayoor   Please update the reference data set for BRAINSFitTest_ROIBSpline.  A recent improvement in ROI generation has caused improved results, so now we need updated baselines.

Please complete this ASAP.

Thank you.
hans

[2016-03-14 04:43] aghayoor commented on #260
Fixed!
https://github.com/BRAINSia/BRAINSTools/commit/d3bc2210a6f8f66d637b256a83e74193519c6e9c

[2016-03-14 04:43] #260 closed

[2016-03-22 20:00] ihnorton opened #261 "DWIConvert FSLtoNrrd with floating point NIfTI"
On the Slicer mailing list there is a [question about converting NIfTI DWI to NRRD](http://slicer-users.65878.n3.nabble.com/Change-in-scalar-type-of-NRRD-image-td4030122.html#a4030141) when the NIfTI voxel type is `float` (unclear whether it is "actually" float or apparent-float due to non-zero `scl_slope`). The resulting NRRD has `short` voxels, because the DWIConvert `PixelType` is hard-coded as

[2016-03-22 20:03] hjmjohnson commented on #261
Isaiah,

Thank you for the note.  I think it would be fine to have the ability to write out float.  I definitely think that it would be good to catch failure cases and give meaningful failure results.

I’d be happy to review a pull request and accept quickly if you can implement this.

Thank you,
Hans

From:  Isaiah <notifications@github.com>
Reply-To:  BRAINSia/BRAINSTools <reply@reply.github.com

[2016-04-21 05:26] pnlbwh opened #269 "Compile fails"
I've been unable to build BRAINSTools in the last couple of weeks because of the error below.
The downloaded file (BRAINSTools-build/ITKv4-build/fftwd/src/fftw-3.3.4.tar.gz) is 0 bytes.

Scanning dependencies of target fftwd
[  0%] Creating directories for 'fftwd'
[  0%] Performing download step (download, verify and extract) for 'fftwd'
-- downloading...
     src='https://midas3.kitware.com/midas

[2016-04-21 13:22] ihnorton commented on #269
Remove the file `/tmp/pnlutil/install-software/BRAINSTools-build/ITKv4-build/fftwd/src/fftw-3.3.4.tar.gz` and try again. The download failed at some point (random network error), but the file was created anyway because CMake doesn't do atomic downloads. It also doesn't try again when it sees a matching name on disk even if the hash is wrong.

[2016-04-21 13:35] pnlbwh commented on #269
It's something to do with the download step because it occurs every time I make a new build, as well as when I delete fftw-3.3.4.tar.gz.  What command is being used to download the file?  Also maybe https has something to do with it.

[2016-04-21 13:55] ihnorton commented on #269
I downloaded the URL w/ browser and the hash matches, so the file is correct on the server.

https://cmake.org/cmake/help/v3.4/command/file.html

You do need to have a cmake built with ssl support [1](http://slicer-devel.65872.n3.nabble.com/Problems-building-Slicer-in-Ubuntu-14-04-3-LTS-Download-problem-using-https-in-make-cmake-td4035936.html), but the download should fail immediately with a diff

[2016-04-22 00:14] reckbo commented on #269
I tried it on my home network and it builds fine, so it must have something to do with the PNL/Partners network.

[2016-05-12 00:36] reckbo opened #270 "DWIConvert: Conversion to FSL doesn't produce bvec/bval files"
I have two sets of DWI scans for a patient, and running DWIConvert on them produces bvec/bval
files for one but not the other.  Converting to nrrd works fine for both sets.  Converting from nrrd to fsl
says I need input bvec/bval files, but those are exactly what I'm trying to generate.

Any hint on what the problem may be?

[2016-05-12 12:58] hjmjohnson commented on #270
We would need to debug the program and reproduce the problem locally.  We have not run into this issue in the past.

Hans

From:  reckbo <notifications@github.com>
Reply-To:  BRAINSia/BRAINSTools <reply@reply.github.com>
Date:  Wednesday, May 11, 2016 at 7:36 PM
To:  BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Subject:  [BRAINSia/BRAINSTools] Conversion to FSL doesn't produce bvec/bval f

[2016-05-12 13:19] ihnorton commented on #270
@reckbo do you get any error messages on the command line or the Slicer log view?

Are you able to share them locally? If so I can take a look.

[2016-05-12 13:23] hjmjohnson commented on #270
We don’t use DWIConvert in the slicer environment.  I am not sure which version is being used there.

I would recommend trying the latest source build.

Hans

From:  Isaiah <notifications@github.com>
Reply-To:  BRAINSia/BRAINSTools <reply@reply.github.com>
Date:  Thursday, May 12, 2016 at 8:19 AM
To:  BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc:  Hans Johnson <hans.j.johnson@gmail.com

[2016-05-16 00:17] reckbo commented on #270
This was my mistake, I was missing the '--conversionMode DicomToFSL' flag.  Without it the app just generates a nifti volume.

[2016-05-16 00:17] #270 closed

[2016-05-23 13:57] hjmjohnson commented on #269
It seems that this was an environmental configuration problem.  Closing unless more information is provided.

[2016-05-23 13:57] #269 closed

[2016-05-23 14:00] hjmjohnson commented on #212
We do what you describe all the time.  I am assuming that you have identified an alternate solution and that this issue has been resolved by now.

[2016-05-23 14:00] #212 closed

[2016-05-23 14:00] hjmjohnson commented on #261
Thank you for the bug fix.

[2016-05-23 14:00] #261 closed

[2016-05-23 21:12] ihnorton opened #273 "smallGradientThreshold should be checked for all Siemens data"
Update: sorry, my mistake. Actually the issue is that `smallGradientThreshold` is currently only checked with `--useBMatrixGradientDirections`. In DicomToNrrd it was checked *without* `--useBMatrixGradientDirections`, to detect issues with older Siemens scanners. It seems this was switched up during some refactoring, so now there is no warning for bad gradients that should be recalculated from the

[2016-05-25 19:44] ihnorton commented on #273
Closing, sorry for the noise. I misunderstood why some data was raising an error in Slicer3.6 but converting fine in new versions. It seems that the `smallGradientThreshold` was actually 0.8 in the earlier version, whereas newer versions use 0.2 (as seems to have been originally intended).

[2016-05-25 19:44] #273 closed

[2016-06-22 02:59] jcfr opened #285 "Build error related to BRAINSDemonWarpTemplates_Vdouble"
BRAINSTools version: https://github.com/BRAINSia/BRAINSTools/commit/eab1460fefc2406b8aa6cc0e6d6fdbbb93e5e41a

ITK v4.10.0rc2:  https://github.com/InsightSoftwareConsortium/ITK/commit/417d6a36d01aa3b835855349cc481a9b3dca8506  (including few [Slicer specified changes](https://github.com/Slicer/ITK/compare/417d6a36d0...slicer-v4.10rc02-2016-05-18-417d6a3))

[code]

[2016-06-22 02:59] jcfr commented on #285
Currently investigating.

[2016-06-23 13:52] #285 closed

[2016-06-23 13:53] jcfr commented on #285
Thanks for merging :+1:

[2016-07-13 04:43] reckbo opened #289 "Release tarballs are missing Cmake version file"
The release archive at

    https://github.com/BRAINSia/BRAINSTools/archive/v4.7.0.tar.gz

fails to build because it's missing `BRAINSTools-4.7.0/CMake/ProjectSourceVersionVars.cmake`,
which according to the comments is supposed to be set with the appropriate versioning information in a release tarball (it looks for this file when there is no .git directory).

I checked and `v4.6.0.tar.gz` is also

[2016-07-13 11:23] hjmjohnson commented on #289
@reckbo How did you find that file?  It must be automatically created by Github.

If you know how to fix this, we would be happy to have a pull request.

Hans

[2016-07-13 13:42] reckbo commented on #289
I would but I don't think I can modify your tarballs? Heres' the file that needs to be added to https://github.com/BRAINSia/BRAINSTools/archive/v4.7.0.tar.gz:

CMake/ProjectSourceVersionVars.cmake:
[code]

I'm using your tarball to add BRAINSTools to a package manager, so by fixing this issue means I don't have to manually patch it.

[2016-07-13 13:50] hjmjohnson commented on #289
@recbo  Those tarball files are not maintained.  They are part of the github api.  The http url dynamically creates the tarball from the git repository for the given tag.

You could provide a patch and create a 4.7.1 release

git clone << BRAINTools >>
git checkout v4.7.0 -b FixForv470
<< make patches >>  << change minor version number >>
git push origin FixForv470:FixForv470
<< make pull request>

[2016-07-13 14:09] #289 closed

[2016-07-13 16:32] hjmjohnson commented on #289
@reckbo There should now be a 4.7.1 release that I hope works.

[2016-07-14 12:38] reckbo commented on #289
@hjmjohnson Thanks! It compiles without error.

Soon nix users will be able to install it by

    nix-env -i BRAINSTools

[2016-07-22 20:21] jpambrun opened #292 "BRAINSFit UseROIBSpline fails"
I am trying to register two volumes with BRAINSFit from slicer 4.5.0-1.

Everything works fine with BSpline, with a ROI, but without "Define BSpline grid over the ROI bounding box".

With the same settings, with "Define BSpline grid over the ROI bounding box" enabled, I get a VTK error "Input Primary is required but not set.".

The module log only shows (debug is set to 10):

[code]

[2016-07-28 19:02] ihnorton opened #294 "DWIConvert with standard/generic gradient tags"
DWIConvert currently hard-codes converters for each vendor, but the extraction routine in the Hitachi converter  should work for other vendor's data using the "standard" [0018,9087] and [0018,9089] tags (bval and bvec). This could be moved or copied to the Generic converter if those tags are present.

Ref mailing list discussions [1][2]

[1] http://slicer-users.65878.n3.nabble.com/dti-data-dicom-t

[2016-07-28 19:06] ihnorton commented on #294
(feel free to assign to me. opening as a reminder for the next time I look at DWIConvert)

[2016-07-29 22:07] hjmjohnson opened #295 "Consider FFTW for itkMaskedFFTNormalizedCorrelationImageFilter.hxx"
Need to consider modifications so that BRAINSConstellationDetector can benefit from FFTW and ITK.

itkMaskedFFTNormalizedCorrelationImageFilter.hxx

[2016-10-08 17:45] hjmjohnson opened #304 "Provide mechanism for writing comments to NRRD files"
See example for the NRRD file here:

http://teem.sourceforge.net/nrrd/format.html#content

Hans

[2016-10-08 20:11] Hui-Xie commented on #304
Thanks. I have changed my name and pictures in Github.

[2016-11-02 10:04] reginakim opened #306 "BCD --inputLandmarksEMSP file format"
@hjmjohnson @aghayoor
The inputLandmarksEMSP file provides convenient work around when BCD failed for eye detection. While it provides a good and quick way to fix eye using 3DSlicer, the format can be improved further.

Currently, the BCD fails if '--inputLandmarksEMSP' looks as:
    # Markups fiducial file version = 4.3
    # CoordinateSystem = 0
    # columns = id,x,y,z,ow,ox,oy,oz,vis,sel,lock,

[2016-11-03 15:00] hjmjohnson commented on #306
Slicer has changed their format so many times in the past few years.  It is hard to keep up.  It would be WONDERFUL to have this represented properly again.

[2016-11-04 12:47] styner opened #308 "error in NIFTItoNRRD handling of space directions"
DWIConvert incorrectly convert space directions from NIFTI to NRRD in that it seems to simply write axis-aligned space directions.
Take any NRRD DWI with none-axis-aligned space directions convert it to NIFTI and then convert it back to NRRD and it will have lost the correct space directions information

[2016-11-04 12:53] hjmjohnson commented on #308
Thank you.  The NIFTI implementation has been problematic for us.  It was contributed code that we did not vet well enough.

I am working on DWIConvert and NIFTI support this month.  Perhaps before December 1st it will be fixed.

[2016-11-04 13:02] styner commented on #308
great, thanks. I am using a workaround (hacking the nrrd header) in the mean time.

[2016-11-04 13:11] hjmjohnson commented on #308
@styner Martin,
A command line use case would be really helpful.  What command line flags are you using to convert to/from nifti.

Additionally, I am concerned that the nifti bvec and bval files are not in the correct format.  Other tools that convert dicom to nifti have a different layout for the bvec and bval files.

Hans

[2016-11-04 13:16] styner commented on #308
Yeah, but I used DWIConvert to get to the NIFTI, i.e.
DWIConvert --conversionMode NrrdToFSL --inputVolume $NrrdFile -o $targetNII --outputBValues $targetNII:r:r_bval.txt --outputBVectors $targetNII:r:r_bvec.txt
DWIConvert --conversionMode FSLToNrrd --inputBVectors $targetNII:r:r_bvec.txt --inputBValues  $targetNII:r:r_bval.txt   --fslNIFTIFile $targetNII --outputVolume $targetNrrd

using a NRRD fi

[2016-11-04 13:17] hjmjohnson commented on #308
Thank you.  I’ll look into it ASAP in the next week or two.

Hans

From: Martin Styner <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Friday, November 4, 2016 at 8:16 AM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [BRAINSia/BRAINSTools] error in NIF

[2016-11-18 22:29] vmagnotta opened #310 "error in NIFTItoNRRD handling of space directions"
There seems to be an issue with the proper handling of image orientation in DWIConvert. If a DICOM series is directly converted to NiFTI versus the conversion from DICOM->NRRD->NIFTI the NIFTI sform matrix is not consistent while the qform matrix is. Slicer shows the image in the same orientation likely because it is using the qform orientation.

The problem is related to the srow_z rotation porti

[2016-11-19 23:48] hjmjohnson commented on #310
@vmagnotta Vince,  I'm looking at this code now.    Do you happen to know where in the code the problem is occurring?

[2016-11-20 00:29] vmagnotta commented on #310
Hans,

I looked at this some on Friday. Since both transforms originate from the image direction matrix, it would assume the bug could be in the helper function that generates the sform matrix from the direction cosines.

Vince

--
Associate Professor
Department of Radiology
L311 PBDB
169 Newton Road
Iowa City, IA 52242
E-mail: vincent-magnotta@uiowa.edu
Phone: 319-335-5482 Fax: 319-353-6275
Websi

[2016-11-20 02:07] hjmjohnson commented on #310
Thanks Vince.  I’ll need to look into this again.  I thought that if the qform is set, then the sform is NOT set, and is not used. 

Hans

--

From: "Vincent A. Magnotta" <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Saturday, November 19, 2016 at 6:29 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>

[2016-11-20 03:03] vmagnotta commented on #310
Hans

That may be the case. It is odd that the sform is wrong while the qform is correct.

Vince

---
Associate Professor
Department of Radiology
L311 PBDB
169 Newton Road
Iowa City, IA 52242
E-mail: vincent-magnotta@uiowa.edu<mailto:vincent-magnotta@uiowa.edu>
Phone: 319-335-5482 Fax: 319-353-6275
Website: http://www.healthcare.uiowa.edu/Radiology

On Nov 19, 2016, at 8:07 PM, Hans Johnson <notif

[2016-11-20 14:27] hjmjohnson commented on #310
Vince,

I am working through several issues with properly representing Nrrd files and Nifti files from DWIConvert.

Another popular tool for many dwi processing to convert dicom to NIFTI is the dcm2niix tool.   I’ve previously had conversations with the author of that tool, and I thought we had resolved the interpretation issues.

https://github.com/rordenlab/dcm2niix/issues/40

This is a discussi

[2016-11-20 18:17] vmagnotta commented on #310
Hans,

There are two slice orderings that occur with Mosaic images from Siemens. These are completely independent.

1.       There is the slice acquisition order. This determines the order of slices and how they are acquired temporally.

2.       The second is the image sorting. This determines the order that the images are arranged in the Mosaic image. This independent of the acquisition order. T

[2016-11-20 21:02] hjmjohnson commented on #310
Vince,

That is helpful information.  Do you happen to know where to find the DICOM tags that can be used to interpret those conditions?

Thanks,
Hans

--

From: "Vincent A. Magnotta" <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Sunday, November 20, 2016 at 12:17 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnso

[2016-11-21 17:29] vmagnotta commented on #310
I know that this must be stored in the Siemens Private header fields of either 0029, 1010 or 0029, 1020. I will try to dig up more information of this.

Vince

--
Associate Professor
Department of Radiology
L311 PBDB
169 Newton Road
Iowa City, IA 52242
E-mail: vincent-magnotta@uiowa.edu<mailto:vincent-magnotta@uiowa.edu>
Phone: 319-335-5482 Fax: 319-353-6275
Website: http://www.healthcare.uiowa.ed

[2016-11-21 19:11] hjmjohnson commented on #310
Thank you Vince.

Hans

--

From: "Vincent A. Magnotta" <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Monday, November 21, 2016 at 11:29 AM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [BRAINSia/BRAINSTools] error in NIFTItoNRRD handling of space di

[2016-12-10 17:45] hjmjohnson opened #314 "Include more extensive meta data when converting from DICOM to NRRD"
It is desired that meta data about scan collection be maintained in the NRRD headers.

A format for the NRRD KEYS is
DICOM_{DCMCODE1}_{DCMCODE2}_{UNUSEDOPTIONALHUMANTEXT}:={VALUE}

DICOM_0008_0060_Modality:=MR
DICOM_0008_0070_Manufacturer:=SIEMENS
DICOM_0008_1090_ManufacturerModelName:=TrioTim
DICOM_0018_0022_ScanOptions:=PFP\FS
DICOM_0018_0023_MRAcquisitionType:=2D
DICOM_0018_0080_RepetitionTime:

[2016-12-10 17:54] hjmjohnson commented on #314
@ihnorton FYI:  I addd this feature for the new DWIConvert.    I am working through some compiler issues for multiple platforms, but this should be released soon.

[2016-12-10 18:09] hjmjohnson commented on #294
@ihnorton  This is a great idea, and it will certainly be easier in the new organization of DWIConvert.

The new location for the common functionality would be in DWIDICOMConverterBase.h class.

There will be more cleanup of this file soon, but I need to get back to analysis of data rather than fixing this code right now.

Hans

[2016-12-11 22:07] hjmjohnson commented on #314
Merged in #315 .

[2016-12-11 22:07] #314 closed

[2016-12-11 22:27] hjmjohnson commented on #310
@vmagnotta I think this is now fixed in #315

I have a test suite of 85 visualizations using both fslview and Slicer to ensure that corrections are done.  I'm through 15 visualization validations (a problematic phillips, a GE, and a Siemens), and will complete the rest of the data visualizations tomorrow.

dcm2niix    -> view in fslview
DWIConvert:DicomToNrrd -> View with Slicer
DWIConvert:DicomTo

[2016-12-11 22:27] #310 closed

[2016-12-11 22:29] hjmjohnson commented on #308
@styner Martin,   I think this is now fixed in #315

I have a test suite of 85 visualizations using both fslview and Slicer to ensure that corrections are done.  I'm through 15 visualization validations (a problematic phillips, a GE, and a Siemens), and will complete the rest of the data visualizations tomorrow.

dcm2niix    -> view in fslview
DWIConvert:DicomToNrrd -> View with Slicer
DWIConvert:

[2016-12-11 22:29] #308 closed

[2016-12-12 15:01] styner commented on #308
Thanks Hans for fixing this bug. That's great! I answered the dtiestim on the other thread. It should hopefully be as easy as using a "-t 0" on the command line.

[2016-12-13 19:37] hjmjohnson opened #317 "Philips DWI data in floating point formats fail in conversion"
Converting to/from FSL formats when the dicom data was originally stored as floating point values results in corrupt data (overflow of values):

This needs to be detected & input data scaled to output data acceptable ranges.

[DWIVisualizationPhilipsFloatData.pdf](https://github.com/BRAINSia/BRAINSTools/files/649920/DWIVisualizationPhilipsFloatData.pdf)

[2016-12-14 14:45] hjmjohnson opened #318 "FSL To NRRD Conversion fails when B0 BVecs are not zero"
When converting from FSL to NRRD format, if the B0 BVecs are listed as as anything except "0 0 0",
then the NRRD format will get the wrong interpretation.

FSL ignores the BVecs where the BVals are 0, but NRRD uses this as part of it's scaling mechanism for BValues.

When reading from FSL formatted files, explicitly set B0 BVecs to "0 0 0" and make all other BVecs of unit length.

[2016-12-14 17:46] #317 closed

[2016-12-14 17:46] #318 closed

[2017-01-04 21:13] hjmjohnson opened #323 "DWIConvert Default Data Model"
Hui,

Please change the default data model for DWIConvert from a "Unwrapped3DVolume" to a 3DVectorVolume format.

Move the DICOM only Unwrapped3DVolume representation to the DICOM subclass of DWIConvert so that it does not contaminate the default exposed API.

Hans

[2017-01-04 21:34] hjmjohnson opened #324 "Psuedo-code for converting from 4DVolume to 3DVectorVolume"
Hui,

Something similar to the following needs to be part of your solution.  It provides conversion from 4DVolume to a 3DVectorVolume.

Hans

#include <itkVectorImage.h>
#include <itkExtractImageFilter.h>
#include <itkComposeImageFilter.h>

typedef itk::VectorImage<unsigned short, 3> VectorVolumeType;
VectorVolumeType::Pointer Convert4DVolumeTo3DVectorVolume(Volume4DType::Pointer inputVol)
{
  typ

[2017-01-04 21:42] hjmjohnson opened #325 "Psuedo-code for converting VectorVolumeTo4DVolume"
Hui,

You will need code similar to the following as well.

static Volume4DType::Pointer CreateEmpty4DVolume(VectorVolumeType::Pointer & inputVol)
{
  VectorVolumeType::SizeType inputSize =
    inputVol->GetLargestPossibleRegion().GetSize();
  VectorVolumeType::SpacingType   inputSpacing = inputVol->GetSpacing();
  VectorVolumeType::PointType     inputOrigin = inputVol->GetOrigin();
  VectorVolume

[2017-01-05 15:34] hjmjohnson opened #326 "Hui To Become a Git GURU"
Hui,

You need to have a deep understanding of Git to be more efficient.

There are a set of videos to assist you with learning git better:
/Shared/johnsonhj/PINC_LIBRARY/GitVideos

[2017-01-11 19:54] ihnorton opened #329 "DWIConvert segfaults with no args"
on master.

[code]
debugger:
[code]

[2017-01-11 20:59] Hui-Xie commented on #329
Isaiah,

Thank You very much for helping me find this bug.
I modified the code like below.
The reason that I didn't use existing method GetFileNameExtension is that I need to judge .nii instead of .gz in "filenname.nii.gz" input.

The latest code will be merged into master through a new pullrequest from ChangeDWIConvertDataModel branch in a few days.

Thank you very much again, and happy new year.

[2017-01-12 14:36] ihnorton commented on #329
A couple suggestions:
- it is better not to print minor errors in a utility function. Handle failures in the caller, if needed.
- don't make assumptions about positions/lengths when taking substrings.
- it might be better to replace [these lines]() with
[code]
for each pair check, rather than guessing about extensions in your find function (for example, someone might have their own naming conventi

[2017-01-12 17:08] Hui-Xie commented on #329
Isaiah,

Thank you very much. I like all your suggestions. I really appreciate you spending time reading my codes.

Yes. itksys::SystemTools::GetFilenameExtension() has better implement than mine, and which supports the subtle difference between Unix and Win32.

**I followed your suggestions, and revised code like below:**

//currently supported file types: { ".nii", ".nii.gz", ".nhdr", ".nrrd"}
v

[2017-01-17 15:19] #329 closed

[2017-01-18 12:25] reckbo opened #331 "DWIConvert FSLToNrrd doesn't scale gradient vectors"
DWIConvert in commit e13c873 doesn't scale the gradient vectors correctly when converting FSL to Nrrd.

[code]

B-values are: 5 5 1490 2990 1495 ... etc.

The resulting DWI nrrd has gradient directions identical to the the bvec file.

[2017-01-18 14:46] Hui-Xie commented on #331
Thank you Reckbo for pointing out the issue.
I will look into it on Thursday and try to fix it as soon as possible.
Happy new year,

[2017-01-18 15:18] hjmjohnson commented on #331
Do you have a multi-shell data set that you could share with us for testing?  Preferably a de-identified dicom file.

We do not have any multi-shell data for testing.

Hans

From: reckbo <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Wednesday, January 18, 2017 at 6:25 AM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Subscribed <subscribed@

[2017-01-18 23:41] reckbo commented on #331
I can give you the nifti file, what's the best way to get it to you?

[2017-01-19 15:53] hjmjohnson commented on #331
A dropbox link?

Thanks,

Hans

--

From: reckbo <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Wednesday, January 18, 2017 at 5:41 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [BRAINSia/BRAINSTools] DWIConvert FSLToNrrd doesn't scale gradient vec

[2017-01-27 16:10] hjmjohnson commented on #331
@Hui-Xie  Hui,  You stated that have a bug fix for this.  Please make a pull-request with referencing this issue when it is ready for distribution.

You need to add a test case to ensure that multi-shell always works.

Hans

[2017-02-04 16:52] #331 closed

[2017-02-07 19:07] felixnavarro opened #334 "DWIConvert slice spacing"
Dear developers, I've found an issue regarding slice thickness and slice separation using DWIconvert.
I've posted it on Feb 7th on slicer user's forum ([link](http://slicer-users.65878.n3.nabble.com/off-topic-qform-matrix-td4031694.html))

I copy my analysis here:

This is the report: I'm testing the conversion from DICOM to nifti using
DWIConvert.

You can download these dicom images from the TCI

[2017-02-07 19:26] pieper commented on #334
See this related bug report that includes a link to phantom data:

http://na-mic.org/Mantis/view.php?id=3867

Also see slicer-users thread here

http://massmail.spl.harvard.edu/public-archives/slicer-users/2017/011619.html

[2017-02-07 19:29] #326 closed

[2017-02-09 14:52] Hui-Xie commented on #334
Thank you for  pointing out this bug.
I am working on this. I hope to try to get it fixed by end of this Sunday.
Thanks.

[2017-02-09 18:52] Hui-Xie commented on #334
Hi, Felix,

Thank you for  pointing out this bug.

I initially located this bug:

In ITKv4/Modules/IO/DCMTK/src/itkDCMTKFileReader.cxx Line 1350 to Line 1355:
`
 if(subSequence.GetElementDS<double>(0x0028,0x0030,2,_spacing,false) == EXIT_SUCCESS
             && subSequence.GetElementDS<double>(0x0018,0x0050,1,&_spacing[2]) == EXIT_SUCCESS)
            {
            spacing[0] = _spacing[1];

[2017-02-09 18:58] felixnavarro commented on #334
If you access patient W2, the first session (date: 11/01/1996), the ADC
series. Those slices  are separated 6 mm and the slice thickness is 5 mm.

If you need more help don't hesitate to email me. I'll be online one hour
more.

2017-02-09 19:52 GMT+01:00 Hui Xie <notifications@github.com>:

[2017-02-09 19:36] Hui-Xie commented on #334
Hi, Felix,

Thank you for your quick response.

Can you go to the weblink [https://public.cancerimagingarchive.net/ncia/externalLinks.jsf?collectionName=IvyGAP](url) to have a look, where it has no date information.  Maybe  I went wrong web?

How about you give me a link of this data?

Thank you very much and best regards,

[2017-02-09 20:04] pieper commented on #334
Hi Hui -

Be sure to always use the differences between Image Position Patient of
adjacent slices to calculate the third spacing value and don't rely on the
Spacing Between Slices (0018,0088, which is optional and often missing or
incorrect).

Here's a discussion from the ITK mailing list that may help:

https://itk.org/pipermail/insight-users/2008-November/027903.html

Also here's some example co

[2017-02-09 20:38] hjmjohnson commented on #334
I believe that the spacing being created is done deep in ITK itself.  DWIConvert does not directly compute this value, but rather uses the value returned by ITK.

If there is a bug, it is likely in ITK itself.

Hans

From: Steve Pieper <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Thursday, February 9, 2017 at 2:04 PM
To: BRAINSia/BRAINSTools <BRAINSTools

[2017-02-09 21:07] pieper commented on #334
Right - the issue is in the itk dcmtk image io which is used in DWIConvert.

On Thu, Feb 9, 2017 at 3:38 PM, Hans Johnson <notifications@github.com>
wrote:

[2017-02-09 23:36] Hui-Xie commented on #334
Thank you very much, Pieper.

After I  read the link [https://itk.org/pipermail/insight-users/2008-November/027903.html](url) you gave, I find that 0018,0088 is a "big hollow" full of ambiguity and misinterpretation. This is why the int DCMTKFileReader::GetSpacing(double * const spacing) const writes so coiling like below.

I plan  not to change ITK code, let me to have a look whether there is ano

[2017-02-10 01:05] Hui-Xie commented on #334
Thank Steve Pieper very much.
I will follow your suggestion of "use the differences between Image Position Patient of
adjacent slices to calculate the third spacing value" to modify ITK code:
 int DCMTKFileReader::GetSpacing(double * const spacing) const
I will do it on Saturday.
Thanks.

[2017-02-10 12:52] pieper commented on #334
Great Hui, thank you!  Fixing the DCMTKFileReader to handle this case is
important for ITK.

-Steve

On Thu, Feb 9, 2017 at 8:05 PM, Hui Xie <notifications@github.com> wrote:

[2017-02-12 00:43] Hui-Xie commented on #334
Finished fixing this bug.

Fixing strategy:
1  I did not change function in ITK
    **int DCMTKFileReader::GetSpacing(double * const spacing) const,**
    as it is a function inside single slice/header file, which has no method to get the gap crossing the slices;
2  I add a method in DWIDICOMConverterBase in BRAINSTools
   `double DWIDICOMConverterBase::getDicomZSpacing(){
    double zSpace = 0;

[2017-02-12 01:13] hjmjohnson commented on #334
The test cases do need to be fixed if the spacing is wrong. 

By what amount are they currently wrong?  Which test cases?

Hans

--

From: Hui Xie <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Saturday, February 11, 2017 at 7:43 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Comment <comment@norep

[2017-02-12 01:45] Hui-Xie commented on #334
1  Felix's test file passed;
2  All of GE test cases passed, part Phillips and Siemens test cases failed.

=============

CTEST
Test project /scratch/hxie1/Projects/BrainsToolsBuild/DWIConvert
      Start  1: Uncompress_DWIConvertGeSignaHdxBMatrixTest.tar.gz
 1/65 Test  #1: Uncompress_DWIConvertGeSignaHdxBMatrixTest.tar.gz ..........   Passed    0.01 sec
      Start  2: Uncompress_DWIConvertGeSign

[2017-02-12 01:46] hjmjohnson commented on #334
Have you verified that these failures are really failures that need to be fixed?

Hans

--

From: Hui Xie <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Saturday, February 11, 2017 at 8:45 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [BRAINSia/BRA

[2017-02-12 02:35] Hui-Xie commented on #334
Philips is because of wrong test case verifying file;
Siemens has special slice interleave format which need special treat.
This is not a easy case, I  will read Siemens related document, and will continue to handle it on Tuesday.

[2017-02-12 13:20] hjmjohnson commented on #334
Does dcm2niix give a different result than DWIConvert?

Hans

--

From: Hui Xie <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Saturday, February 11, 2017 at 9:35 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [BRAINSia/BRAINSTools] DWIConvert slice

[2017-02-14 18:02] Hui-Xie commented on #334
Now It is reducing to 3 test failures all about Philips. I am continue working on this.
=========================
putamen:$ ctest
Test project /scratch/hxie1/Projects/BrainsToolsBuild/DWIConvert
      Start  1: Uncompress_DWIConvertGeSignaHdxBMatrixTest.tar.gz
 1/65 Test  #1: Uncompress_DWIConvertGeSignaHdxBMatrixTest.tar.gz ..........   Passed    0.01 sec
      Start  2: Uncompress_DWIConvertGeSi

[2017-02-14 18:53] Hui-Xie commented on #334
The 3 test failures of Philips are all about zSpace, and same error situation.
From the origin coordinates of adjacent slices 0 and 34, the zSpace should be 1.89747 instead of 2.
Therefore, I suspect the error is from original verifying nrrd file which has error because  ITKDicomFileReader::GetSpacing() has error.

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

Test_Compare_Command_Line_TEMP_OUTPUT

[2017-02-18 20:51] Hui-Xie commented on #334
Today I analyzed the latest code of Dcm2niix from Github:
1  it directly uses (0028, 0030) to get physical X,Y spacing inside a slice;
2  it directly uses(0018, 0088) to get physical Z spacing between slices;
3 it directly uses (0018, 0050) go get slice thickness;
The "directly"s above mean there is no other logic judgement to get these values, just plainly do it.

It looks that Dcm2niix is not so

[2017-02-18 21:01] Hui-Xie commented on #334
Current ITK:: DCMTKFileReader has not getThickness() method, BRAINSTools just directly use zSpace as thickness.

Do we need to add a getThickness() method in  ITK::DCMTKFileReader?

[2017-02-18 21:29] hjmjohnson commented on #334
What are those values for the DICOM images that are failing our tests?

Use dcm2xml from Dcmtk toolkit binaries to see easily.

Sent from my iPhone

[2017-02-18 21:36] Hui-Xie commented on #334
itk::ImageBase has no thickness property. I am considering add one into DWIConverter.

[2017-02-18 21:50] Hui-Xie commented on #334
After I modified ITK:: DCMTKFileReader::GetSpace() method, the below is test result for Felix's data for backup record.

-----------------------
putamen:$ DWIConvert --inputDicomDirectory ~/Research/DWIConvertRefactor/Felix/SpaceDicom --outputVolume Fllix.nhdr
======= DWI Convert Public Lib Ctest =========
=================== this->m_SlicesPerVolume:25
Dicom images are ordered in a volume interlea

[2017-02-18 21:50] hjmjohnson commented on #334
Hui,

Thickness is not important to us.  It is not a relevant measure for our DWI work.  Slice spacing is important, but thickness is not.

Hans

--

From: Hui Xie <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Saturday, February 18, 2017 at 3:36 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Comme

[2017-02-18 21:58] hjmjohnson commented on #334
Is that correct?

Hans

--

From: Hui Xie <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Saturday, February 18, 2017 at 3:50 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [BRAINSia/BRAINSTools] DWIConvert slice spacing (#334)

After I modified ITK:

[2017-02-18 22:01] Hui-Xie commented on #334
I modified ITK codes, now it looks all correct. I am comparing the result of  DWIConvert and Dcm2niix.
Give me 10 mins, I will finally confirm it. and report result to you.

[2017-02-18 22:21] Hui-Xie commented on #334
Referencing the Dcm2niix's code logic, I modified ITK code by re-writing 2 methods below.
 int GetSpacing(double * const spacing) const;
 int GetThickness(double * const thickness) const;

Now Felix's test data and ourself's ctest cases fully passed. And our result is consistent with Dcm2niix's result.

As we do not use zSpace to replace the real thickness again, and FSL format has not a Thickness

[2017-02-19 03:09] Hui-Xie commented on #334
To this moment,
1  reading space and thickness from Dicom is good; it passed all ctest cases and felix test case;
2  now reading/Writing thickness in Nrrd file is also good; I added a method to read thickness from nrrd file;
3  but it still has problem in reading/writing thickness in FSL file, it looks FSL's MetaDataDictionary is different with Nrrd mechanism; by the way DWICompare does not check

[2017-02-21 17:21] Hui-Xie commented on #334
This morning, I analyzed the header file structure of FSL(NifTi). In the 348-bytes header of NifTi, there is no place to store thickness information. And 348 bytes which is already occupied compactly leave no space for private information extension. In another words, you will loss thickness information from Dicom to FSL, or from Nrrd to FSL.

I will not store thickness into or read thickness from

[2017-02-21 20:05] thatguy14 opened #336 "Stability of Brainsfit"
Hello everyone, I have an inquiry into brainsfit in slicer. I am going to copy/paste the email I sent to the slicer user group for anyone that is not apart of it. At the end I also have a tangential question:

OTHER QUESTION

In addition to the question above, I am curious how brainsfit handles the samples it chooses for estimation of the cost function. I think my question is best asked by use of

[2017-02-24 01:01] hjmjohnson commented on #336
@mmouawad This was written a very long time ago, and modified many times by folks that no longer work for me.  I honestly do not know the answers to your very specific questions.  To get the answers you desire is going to require careful inspection of the source code.

In many cases we defer to ITK proper for much of the behavior.

Hans

[2017-02-27 18:57] Hui-Xie commented on #334
As the modification of itk::itkDCMTKFileReader::GetSpacing for getting correct zSpace using use (0020, 0032) Image Position (Patient)  needs to handle the frame order of various MR vendors, e.g. Siemens Mosaic format, this work, I guess, needs a lot of time. Maybe one month or 3 month, I don't know.

Therefore, I implemented temporarily a bypass solution inside BRAINSTools named int DWIDICOMConver

[2017-03-02 01:37] #304 closed

[2017-03-02 01:42] Hui-Xie commented on #323
Changing into 3DVectorVolume involves changing of infrastructure data structure, and all test tool program. I tried it, and failed. It is a huge work. Now we keep its current data structure.

[2017-03-02 01:42] #323 closed

[2017-03-02 23:58] #334 closed

[2017-03-22 03:22] reckbo opened #342 "NrrdToFSL: DWIConvert vs ConvertBetweenFileFormats"
# Description

Given an LPS DWI nrrd, DWIConvert makes an LAS nifti, and given a single diffusion volume of that nrrd, ConvertBetweenFileFormats makes an LPS nifti.  This has consequences when converting back to nrrd, namely the `j` in `ijk` space is flipped in the first case, but remains unchanged and matches the original in the latter case.  (The world coordinates are fine and correct).

# Issue

[2017-03-22 16:25] hjmjohnson commented on #342
ConvertBetweenFileFormats attempts to maintain the input images direction cosines as closely as possible.

DWIConvert tries to match the FSL standards.  Due to the fact that the BVEC and BVAL information is implicitly in an LAS corrdinate system (and the fact that the measurement frame is implicitly an identity matrix), we needed to re-organize some data sets to ensure that a consistent representa

[2017-03-22 22:06] reckbo commented on #342
Great, thanks.

[2017-03-27 23:59] reckbo opened #343 "DWIConvert FSLToNrrd fails on a DRBUDDI dwi"
git clone https://github.com/pnlbwh/BRAINSTools-debug && cd BRAINSTools-debug
    make dwibuddi10.nrrd

Load `dwibuddi10.nrrd` in Slicer and you'll see the slices are garbled.

[2017-04-03 11:04] reckbo opened #344 "DWIConvert: Siemens Prisma Fit: dicoms->nrrd != dicoms->fsl->nrrd"
As the title suggests, I have a Prisma Fit DWI scan where DWIConvert generates inconsistent gradient directions.  I tested commits 41353e8 and c192ee8.  I also tested a Siemens Trio Tim scan but DWIConvert generates consistent directions, as expected.

## Scan parameters:

[code]

## Gradient Direction Comparison
[code]

[2017-04-03 14:26] ihnorton commented on #344
What are the command line options in both cases?
Do you have releasable test data, either publicly releasable or that I can look at internally to BWH?I'm not on the PNL IRB as far as I know, but I could probably figure out the issue from the intermediate nifti and nrrd files, provided you can also give the output of the DWIConvert log.

As an aside, acquiring and providing publicly-releasable test

[2017-04-03 14:57] Hui-Xie commented on #344
It looks like that the commits 41353e8 and c192ee8 you mentioned are about SimpleITK and N4BFC.
You may share your test data for us to further detect the bug as Mr. Ihnorton mentioned.
Thank you very much for helping us improve this software.

[2017-04-03 22:33] reckbo commented on #344
I used the Washington University Connectome example dataset (BIO_0006):

    https://github.com/Washington-University/Pipelines/wiki/v3.4.0-Release-Notes,-Installation,-and-Usage#getting-example-data
    https://db.humanconnectome.org/app/action/ChooseDownloadResources?project=HCP_Resources&resource=SampleData&filePath=HcpPipelinesExampleDataNonGDC.zip

Commands are

    DWIConvert --inputDicomDir

[2017-04-04 13:13] Hui-Xie commented on #344
Reckbo,
Thank you very much for helping us improve and offering relating test data.
As I have a PhD qualification exam on April 22nd, I plan to put debugging this  issue after that.
Thank you for your supporting.
Hui

[2017-04-04 22:41] reckbo commented on #344
No problem @Hui-Xie.

Also this bug might be related to the previous one I posted (#343) since that is also from a prisma scan.

[2017-04-06 14:56] ihnorton commented on #344
@reckbo thanks for the link. I downloaded it, but I don't see DICOM images or anything called BIO_0006: there's only a "100307" subject folder with many nifti files.

[2017-04-06 15:26] Hui-Xie commented on #344
Isaiah, I really appreciate your helps. You are great.
Thank you so much.

[2017-04-07 17:07] ihnorton commented on #344
I tested the [Prisma sample data](http://people.cas.sc.edu/rorden/SW/dcm2niix/Siemens_Sag_DTI.zip) from dcm2nii (2nd to last link [here](https://www.nitrc.org/plugins/mwiki/index.php/dcm2nii:MainPage#Diffusion_Tensor_Imaging)), on latest + #346, and I can't reproduce this.

Gradients are close (only out to 3 decimal places, but that's a different issue), comparing
`DWIConvert --useBMatrixGradientD

[2017-04-07 19:13] ihnorton commented on #343
I took a quick look, and believe that the issue is casting from float to short:
![image](https://cloud.githubusercontent.com/assets/327706/24815280/9c84e052-1ba2-11e7-85f6-ae34b68c3f56.png)

The nifti1 `datatype` of the linked data is float32, but the readers are *only* instantiated for short (that's why I added the error about lossy conversion -- which no longer seems to be thrown...).

I'll have

[2017-05-19 13:07] Hui-Xie commented on #324
Cancel the Convert task as the it involves huge changes in DWI infrastructure and test infrastructure.

[2017-05-19 13:08] Hui-Xie commented on #325
Cancel the Convert task as the it involves huge changes in DWI infrastructure and test infrastructure.

[2017-05-19 13:29] hjmjohnson commented on #325
This is needed, even if it involves huge changes.

[2017-05-19 13:30] hjmjohnson commented on #324
This task still needs to be completed.

[2017-07-31 20:27] reckbo commented on #344
I'm going to close this for now, as I now think it's more likely the dicoms are faulty.  I'll test more data as it becomes available.

I also tested the Prisma sample data but I get this error:

[code]

[2017-07-31 20:27] #344 closed

[2017-08-02 13:41] crossmanith opened #349 "Building BRAINSTools"
I'm trying to build BRAINSTools with enabled USE_SYSTEM_* flags. But instead of using the precompiled packages (ITK, DCMTK etc.) the build process downloads every package and starts to build it. Any hint how to change this behaviour?

Regards,
Christina Rossmanith

Dept. of Neurology
University Medicine Mannheim
University of Heidelberg

[2017-08-08 01:11] reckbo commented on #343
@ihnorton Sorry for the long time in responding, I was away for a while.  I'm revisiting this issue now and will report back with what I find out.

[2017-08-08 01:23] reckbo opened #350 "DWIConvert: Nrrd -> FSL -> Nrrd != Nrrd"
Using the most recent commit as well as 3 others, I find that this transformation changes 'space thicknesses' and the last axis of 'space origin' of a given nrrd DWI.

I've attached a summary:

[DWIConvertTest.pdf](https://github.com/BRAINSia/BRAINSTools/files/1206623/DWIConvertTest.pdf)

(`dwinrrd` is the original nrrd and `dwifslnrrd` is the one generated via nrrd->fsl->nrrd)

[2017-08-08 02:21] hjmjohnson commented on #350
[DWIVisualizationFixing.pptx](https://github.com/BRAINSia/BRAINSTools/files/1206727/DWIVisualizationFixing.pptx)

@reckbo  We did a lot of testing last year to ensure that the results were consistent across several data types for FSL and NRRD.  https://github.com/BRAINSia/BRAINSTools/tree/master/DWIConvert/TestSuite

I can't claim that all the bugs are gone, but we did identify several results tha

[2017-08-08 02:22] hjmjohnson commented on #350
@Hui-Xie

Hui,  Please monitor this thread to ensure that DWIConvert is working reliably for new data types.

Hans

[2017-08-20 21:24] hjmjohnson commented on #214
This error has not been successfully replicated.

[2017-08-20 21:24] #214 closed

[2017-08-20 21:27] hjmjohnson commented on #336
No recent activity on this, so closing.

[2017-08-20 21:27] #336 closed

[2017-08-20 21:28] hjmjohnson commented on #343
@reckbo Any progress on this? Can this issue be closed?

[2017-08-20 21:30] hjmjohnson commented on #349
@crossmanith We have not had the time to properly implement the "USE_SYSTEM_*" flags.  We would be happy to accept a patch set from you if you can make this work.

[2017-08-20 21:30] #349 closed

[2017-08-20 21:32] hjmjohnson commented on #350
I think that this issue was addressed in a previous message.

We did the nrrd->fsl->nrrd conversions as well. It is not possible to retain some orientation informations through that conversion process because fsl format is not as flexible as nrrd.

[2017-08-20 21:32] #350 closed

[2017-08-30 17:17] reckbo commented on #343
@hjmjohnson  Yes I'm going to close this issue, from what I've gathered DR-BUDDI generates a nifti that has non-standard semantics, so we can't expect DWIConvert to work correctly.

[2017-08-30 17:17] #343 closed

[2017-08-30 17:37] hjmjohnson commented on #343
Thank you.

Sent from my iPhone

[2017-09-15 05:42] tenulate opened #352 "Brainsfit log file output - Metric value appears to be hard coded"
When performing image registrations with Brainsfit the output log file always records the mutual information metric value as -123.457, regardless of the image data used.

I think it is related to the `BRAINSFitHelper::RunRegistration()` function  [BRAINSTools/BRAINSCommonLib/BRAINSFitHelper.h](https://github.com/BRAINSia/BRAINSTools/blob/master/BRAINSCommonLib/BRAINSFitHelper.h), where it appears

[2017-10-16 02:05] hjmjohnson commented on #352
It would be great if you had a fix for this.  I'd be happy to incorporate.

[2017-10-27 16:03] hjmjohnson opened #353 "Improve our web presence for BRAINSTools"
Lee,

Please review the content on our web page, and take inspiration from

http://stnava.github.io/ANTs/

to generate a better web presence for the BRAINSTools packages.

Hans

[2017-11-18 13:41] hjmjohnson commented on #352
@tenulate This is a lower priority task.  We would be happy to accept a pull request if you have a tested solution.

[2017-11-18 13:45] hjmjohnson commented on #325
@Hui-Xie Hui,  you need to complete the refactoring of the DWI before spring break 2018.  Both this project and the Intel speedup project must be completed before you can focus on a research project for your dissertation.

[2017-12-30 00:28] hjmjohnson opened #359 "Allow bertter image spacing behaviors"
itkHoughTransformRadialVotingImageFilter.hxx

188
189   DoGFunctionPointer DoGFunction = DoGFunctionType::New();
190   //HACK:  We probably want this to be true, but it would require updated reference data sets
191   DoGFunction->SetUseImageSpacing(false);
192

Changing this from (false) to (true) will improve the behavior for non-isotropic 1mm images, but that will also require a new set of refer

[2018-01-02 21:42] ihnorton opened #361 "Improve error message on missing tags->fallback to generic->failure"
There is a [discussion and example data](https://discourse.slicer.org/t/dwi-loading-from-dicom/1746) on the Slicer forum where some data (I think Siemens originally) fails to convert due to missing tags from aggressive anonymization. DWIConvert falls back to the generic reader, which also fails. The error shown could be more informative:

[code]

Ideally DWIConvert could give some descriptive info

[2018-01-22 20:09] jcfr opened #364 "Add Apache license file"
There is no license (and notice) files in the source repository

## *What* is affected by this bug?

This impact the distribution of application integrating BRAINSTools (e.g 3D Slicer)

[2018-01-22 20:56] hjmjohnson commented on #364
@jcfr  Can you please add the file.  I'll accept the pull request right away.

[2018-01-23 00:34] hjmjohnson commented on #364
@jcfr Thanks!

[2018-01-23 00:34] #364 closed

[2018-01-26 14:34] mkleemeyer opened #368 "DWIConvert fsltonrrd for multiple bvalues"
I am using DWIConvert stand-alone in order to use DTIprep on my DWI data. The issue I have is, that I have DWIs acquired using 2 different b-balues, namely 60 direction with bval of 2850 and 30 directions with bval of 700 (in addition also 10 b=0) images. However, when I convert them from fsl to nrrd and back (even without running DTIprep in between), the output bval only contains bvals of 2850, t

[2018-02-24 10:46] mriedel56 commented on #368
Has anyone addressed this issue, or have you been able to identify the problem/solution independently? Im finding the same thing w/ our multi band data.

[2018-02-24 11:54] ihnorton commented on #368
What version of the software are you using? There have been many fixes to nifti functionality, so I suggest trying the latest version (included in Slicer 4.8.1).

I just tested round-trip of a nifti/bvec/bval set from HCP (117122) with a large bval range using DWIConvert built in Slicer 4.8.1, and got good results. bvals match exactly:

[code]

bvecs will have some slight differences if you compar

[2018-02-24 11:55] ihnorton commented on #368
(cc @ljod [ref HCP data](https://github.com/BRAINSia/BRAINSTools/pull/369#issuecomment-366741226))

[2018-02-24 11:59] mriedel56 commented on #368
Thanks for the reply. We currently have Slicer 4.3.1. I suspect that could be a source of the problem. I'll update and confirm if the new version fixes it.

[2018-02-27 11:03] mriedel56 commented on #368
I just performed the same operation and got back the same results. Currently using DTIPrep 1.2.4, will up date to 1.2.8 (if thats the most current version) and see if that helps.

[2018-02-27 16:55] ihnorton commented on #368
@mriedel56 from your first comment, you said you are running
- DWIConvert stand-alone, on the command line. Did you build it from source?
- the issue happens when *only* running DWIConvert (nifti -> nrrd -> nifti) -- no DTIPrep involved?

The reason I ask the second question is that there is a somewhat similar issue on the DTIPrep tracker when B0 is not the first volume (https://github.com/NIRALUs

[2018-02-27 17:10] mriedel56 commented on #368
We are running this on our HPC, Im not exactly sure how our IT folks installed it. But yes, this happens only with DTIConvert, no DTIPrep involved yet. Still waiting for DTIPrep to be updated and will report back.

[2018-02-27 17:15] ihnorton commented on #368
If you can share example command line calls and/or a nrrd header (.nhdr file) after conversion, that might help. Be careful about confidential information -- I'd suggest giving the whole nhdr file a once-over, though usually the only issue is file names (including in the `data file:` field of the header).

[2018-02-28 09:25] mkleemeyer commented on #368
Thanks for the reply! For me, using the newest DWIConvert version (included in Slicer 4.8.1) does not give these issues anymore, b-values are correctly recognized but only IF NO DTIPrep INVOLVED. When DTIPrep has run on the data and I want to convert them back I get an error: ReadVolume: Unsupported source pixel type. Apparently DTIPrep uses unsigned_short which does not work for DWIConvert... Any

[2018-02-28 11:03] mriedel56 commented on #368
Perhaps Im confused. As a quick background note, on our HPC we have to manually load different programs we would like to use before they are accessible (i.e., we use "module load slicer/4.8.1" to be able to use Slicer). If I load Slicer, there is no DWIConvert function available, but if I do load DTIPrep, there is a DWIConvert function available with all the correct function arguments (i.e., conve

[2018-02-28 14:33] ihnorton commented on #368
@mkleemeyer: there is now a command line option `--allowLossyConversion` which tells BRAINSTools to rescale the data into the range of the target image type. But it should only be used with caution.

@mriedel56:  to say without knowing how your IT folks installed Slicer. I just checked on a linux system, and the 4.8.1 download package has DWIConvert in `Slicer-4.8.1-linux-amd64/lib/Slicer-4.8/cli-

[2018-02-28 14:36] ihnorton commented on #368
@mriedel56 oh, if the IT folks built Slicer from scratch, then you need to make sure they didn't turn off the `USE_DWIConvert` build option or any others related to BRAINSTools (enabled by default).

[2018-03-07 18:01] gbuntu127 opened #370 "DWIConvert gets segmentation fault when converting Nrrd image to Nifti image"
I am trying to convert a DTIPrep's output back to Nifti format, and the DWIConvert tool threw a segmentation fault error.

Here are details:
1. Convert original Nifti to Nrrd, DTIPrep only supports Nrrd. This step is successful.

[code]

2. I tested DTIPrep for quality check with the following command. This step is successful.
[code]

3. convert the output (Nrrd format) of DTIPrep back to Nifty fo

[2018-03-08 12:12] mkleemeyer commented on #368
Could you clarify a bit why the --allowLossyConversion option should be used with caution?

[2018-03-08 14:03] hjmjohnson commented on #368
Because the conversion may be lossy and some information will be lost.

You need to understand how those losses do/ do not affect your processing.

Sent from my iPhone

[2018-03-15 15:01] mriedel56 commented on #368
The IT folks had to install some extra library dependencies, and finally getting around to it, the round trip w/o using DTIPrep works as expected now.

However Im having the same issue @mkleemeyer is having. The lossy conversion flag did not help in my case. I believe I've read at this point its not a Slicer issue, but something to do with DTIPrep. Has anyone else found a solution to that problem?

[2018-04-10 09:01] fangxuanliang opened #376 "itkvnl"
[ 32%] Linking CXX static library /home/ubuntu/download/BRAINS/build/lib/libitkvnl-5.0.a
[ 32%] Built target itkvnl
make[3]: *** [Makefile:152：all] 错误 2
make[2]: *** [CMakeFiles/ITKv5.dir/build.make:114：ITKv5-prefix/src/ITKv5-stamp/ITKv5-build] 错误 2
make[1]: *** [CMakeFiles/Makefile2:255：CMakeFiles/ITKv5.dir/all] 错误 2
make: *** [Makefile:95：all] 错误 2

My experimental environment: ubuntu16.04LTS, g

[2018-04-20 20:10] ihnorton opened #379 "Superbuild does not respect `USE_*` options."
I'm trying to build DWIConvert stand-alone, from current master, with the following script:

[code]

I've commented out the tbb dependency, because that doesn't appear to work correctly in superbuild right now (building on Linux):

[code]

But I still get:

[code]

that line should not be executed, because `USE_AutoWorkup=OFF` was passed (and is indeed set OFF in the superbuild CMakeCache.txt). Th

[2018-04-20 21:30] hjmjohnson commented on #379
@ihnorton I'll look into this ASAP.

Hans

[2018-04-20 21:48] ihnorton commented on #379
I was able to work around that issue with the following patch, so I think it is probably a superbuild/externalproject variable problem.

[code]

[2018-04-20 21:49] ihnorton commented on #379
Now I'm hitting compiler errors but those should be unrelated. Out of curiosity, what compiler have you been building with recently?  (I'm using GCC 4.9, which I believe ITK still supports)

[2018-04-20 22:00] hjmjohnson commented on #379
clang (default for 10.13 is my normal compiler)

linux (default for ubuntu 16.04)

RHEL7 -- with
 /bin/c++ --version
c++ (GCC) 4.8.5 20150623 (Red Hat 4.8.5-16)
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2018-04-23 15:03] ihnorton commented on #379
With #380 and #381 I got a successful build of DWIConvert using GCC 4.92. (I'm not sure what the fluke, but it worked properly after pulling master just now). Thank you again!

[2018-04-23 15:03] #379 closed

[2018-05-09 10:49] manzouri commented on #370
Hi,
I have the same problem in Mac . Is there any solution ?

[2018-05-09 13:27] hjmjohnson commented on #361
Thanks.  I'll be happy to incorporate a pull request for this.

Closing:  Backlog_ideas_for_improvement ideas will be reviewed from the closed issues list as time permits.

[2018-05-09 13:27] #361 closed

[2018-05-14 19:18] hjmjohnson opened #382 "Develop Docker Environment for build/test/deploy of binaries for BRAINSTools"
BRAINSTools developers need an easier way to build, test, and deploy binaries for the BRAINSTools package.

## A Dockerfile representation:

FROM neurodebian:stretch-non-free as BRAINSTools-base
MAINTAINER Hans J. Johnson <hans-johnson@uiowa.edu>

## the popularity-contest is causing docker build to hang
ARG DEBIAN_FRONTEND=noninteractive
#RUN apt-get update && echo "no" | apt-get install -y popul

[2018-05-14 19:25] hjmjohnson opened #383 "Fix and improve documentation that is showing up at:"
https://brainsia.github.io/BRAINSTools/

[2018-05-29 18:30] BradG89 opened #384 "Maximum B-Spline Displacement Issues"
Hello,

When using the 3D Slicer extension I am able to change the setting for maximum B-Spline Displacement and I am able to run a B-Spline registration, but after the registration has completed, the transform doesn't appreciably change image volumes, labelmaps, or models. When I set the setting back to 0.0, the registration runs correctly, but inputting any value at all into this parameter seems

[2018-06-07 15:10] BradG89 commented on #384
The issue has been resolved. There was an option in the debugging parameters called CostFunctionConvergenceFactor and I had to decrease this by a factor of 100 to get results.

In future versions, it may be worth moving this parameter to the "Advanced Optimization Settings" drop down menu and placing it below "Maximum B-Spline Displacement". It seems that the relaxation factor is already there, so

[2018-06-07 15:10] #384 closed

[2018-09-14 15:22] ihnorton opened #389 "TBB build error running in ccmake"
This only happens in `ccmake`; `cmake` on its own works, so maybe this is a ccmake bug. Just noting for now, not a blocker.

CentOS 6, gcc 4.9.2 (from HPC `module` service), cmake 3.12.2.

[code]

[2018-10-31 10:31] leb commented on #389
Hi!

I am just trying to compile BRAINSTools on my Mac, and I get this exact error when I run cmake. However, I get it both on the command line and in the Cmake GUI application. Is there some other way to get arround this issue? Should I install TBB separately first?

[2018-10-31 11:17] ihnorton commented on #389
I suspect it is related to the cmake version in that case. Unfortunately
they don’t provide real cmske files so it’s kind of brittle.

On Wed, Oct 31, 2018 at 6:31 AM Lars Eirik <notifications@github.com> wrote:

--
Sent from phone. Please excuse typos.

[2018-10-31 11:51] leb commented on #389
Thanks for the response. Is there a version that you recomend trying? I'm currently using the latest release 3.12.3.

[2018-10-31 13:34] hjmjohnson commented on #389
Lars,

I use 3.12.3 to compile BRAINSTools.    I have pushed updates (30 seconds ago) to ITK, TBB, HDF5 to the master branch.  This recently built for me on my mac.

Hans

From: "notifications@github.com" <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Wednesday, October 31, 2018 at 6:51 AM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Subsc

[2018-11-01 10:00] leb commented on #389
Thanks, Hans! The configuration step now works, and I was able to start building. However, towards the end of the build process (after building both VTK, ITK and ANTs successfully), I ran into the same problem again:

[code]

Are there more Cmake files that need correction?

[2018-11-25 16:30] hjmjohnson opened #403 "International conversion of string values to double (or int)"
Thanks to @ihnorton  for bringing this to our attention in #394:
===================
std::stod is risky in a different way: it is locale-dependent, so international users could see strange results or failures (due to parsing . and , incorrectly). Unfortunately this is another place where C/C++ stdlib has no clearly-superior options from what I can tell:

use https://en.cppreference.com/w/cpp/local

[2018-11-30 10:29] hjmjohnson opened #405 "Review population based template building."
@reginakim Are these changes worth preserving and incorporating into BRAINSTools?

https://github.com/BRAINSia/BRAINSTools/commits/popTemp2

[2018-12-02 23:54] reginakim commented on #405
Hans,

Let's discard the change and close the issue. The project was pursued to make the code 'useful' for a certain case, but I think the group-wise template generating could be done using population template generation. In addition, the code has been evolved continuously, the effort to make this code work may not worth it.

Thank you for heads-up.

Regina

[2018-12-03 02:14] hjmjohnson commented on #405
@reginakim Thanks.  Just making sure.  Feel free to close any other branches that you made that you think are outdated/not worth updating.

There were 56 branches originally, and I'd like to get it down to 10 or so.

[2018-12-03 02:14] #405 closed

[2018-12-18 12:50] ihnorton commented on #342
@hjmjohnson I'd like to re-open this to discuss the current behavior for FSL Nifti -> NRRD

1) `measurement frame` = `identity` behavior for DWIConvert output when converting
2) writing FSL bvec file with `g[i] = inv(MF) * g_orig[i]`

For (1):
- the gradients in FSL bvec files are expressed with respect to the image axes: [link 1](https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/FDT/FAQ#What_conventions_do_

[2018-12-29 14:05] neurolabusc commented on #342
In addition to the links provided by @ihnorton, I would suggest this [link](http://justinblaber.org/brief-introduction-to-dwmri/). Fortunately, DWI data is is virtually always acquired axially, but if you do encounter coronal or sagittal acquisitions, I would be very cautious of hard coding the LAS reorientation, as Eddy assumes that slices are the 3rd dimension and altering this will impact optio

[2018-12-29 14:13] neurolabusc opened #412 "DWIConvert fails with coronal DICOMs"
I understand that DWIConvert is specifically designed for DWI data that is typically only acquired with Axial slices. However, it is a very powerful and robust tool for general image conversion, with powerful features like de-mosaicing images. One issue I noticed is that it appears to get the anterior-posterior dimension flipped when confronted with coronal mosaic images - the issue is seen in bot

[2019-02-21 22:51] aghayoor opened #421 "BRAINSTools build fails to properly configure TBB"
Hi Hans @hjmjohnson

When I try to build BRAINSTools, I receive a build failure related to TBB:

[code]

It seems building TBB from the external build fails.
Therefore, I downloaded the latest release of TBB, and I used the following command for cmake configuration to pass a release build of TBB:

ccmake ../BRAINSTools -DCMAKE_PREFIX_PATH=<path to tbb>/tbb2019_20181203oss

I am trying to build BRA

[2019-02-22 01:45] hjmjohnson commented on #421
I’m working with Intel’s tbb team to fix this.  Only very recent versions of the master branch have this problem.

Hans

From: "notifications@github.com" <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Thursday, February 21, 2019 at 4:51 PM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@gmail.com>, Mention <mentio

[2019-02-22 20:35] aghayoor commented on #421
Hans,

@hjmjohnson : I tried to build several older patches back to the last November. All builds were failed because of the same TBB issue I explained earlier. Can you please refer me to a patch with no TBB issue?

Thank you,
Ali

[2019-02-26 04:50] tashrifbillah opened #422 "Build issue related to MultiThreaderBase.h"
[code]

Is there a commit I should try that builds without any error? I am using Centos 7 linux, 64 bit.

[2019-03-01 03:29] hjmjohnson commented on #422
I'm working with the TBB development team to fix issues with TBB installs.  See #423

[2019-03-08 20:21] phcerdan opened #425 "Warning: #define main ModuleEntryPoint (-fvar-tracking-assignments)"
## *Where* on the platform does it happen?
Tested on linux (archlinux with latest stable packages: gcc8.2.1, cmake 3.13.4, etc).

## *How* do we replicate the issue?
Compiling Slicer (points to current master 2af1e31a8ead1471ae33656cf6b02dbb27feb217 )

## Expected behavior (i.e. solution)
No warnings

Warning:

[code]

[2019-03-13 15:12] tashrifbillah commented on #422
Has it been fixed?

[2019-03-13 18:01] tashrifbillah commented on #422
I wish I tried it earlier. I didn't see a commit was added addressing my issue. However, it didn't work:

[code]

[2019-03-19 17:22] tashrifbillah commented on #422
ping .. @hjmjohnson

[2019-03-19 17:34] hjmjohnson commented on #422
@tashrifbillah I can not replicate your issue.  It looks like a compiler configuration problem.  What OS, compiler, environment are you using?

[2019-03-19 17:37] tashrifbillah commented on #422
Centos 7
`cmake version 3.11.4`

[code]

[2019-03-19 21:14] tashrifbillah commented on #422
By the way, I am using the default configuration.

[2019-04-11 01:26] tashrifbillah commented on #422
Hi @hjmjohnson , where do we stand in diagnosing/solving this issue? Did we find out what is causing
`error: expected unqualified-id before ‘-’ token` ?

[2019-04-18 16:22] tashrifbillah commented on #422
@hjmjohnson , I may have found the solution for my issue. Which version of cmake are you using? Previously, I was using 3.11.4 and that was yielding the above error.

However, when I updated to 3.14.2 (the latest), the error seems to disappear. Does it sound reasonable?

In brief, I am building against master branch on a Centos7 machine.

[2019-04-18 18:35] hjmjohnson commented on #422
Perhaps.   I don’t do exhaustive testing on all Cmake versions.

Sent from my iPhone

[2019-04-18 18:53] tashrifbillah opened #436 "DWIConvert absent in build/bin"
Although `USE_DWIConvert:BOOL=ON`, `DWIConvert` does not exist in `build/bin` directory. Has it been omitted from the current master? But I do see `BRAINSTools/DWIConvert`.

[2019-04-23 20:51] tashrifbillah commented on #436
ping @hjmjohnson

[2019-04-26 20:19] mseng10 opened #438 "Problem with script hierarchy using Sphinx"
## *What* is affected by this bug?
These warnings prevent proper documentation of python scripts to be built. **No** functionality of actual scripts are affected. However, the warnings presents are due to a windows error and importing above top-level packages.

## *When* does this occur?
Occurs after building html documentation under BRAINSTools/AutoWorkup/Sphinx using Sphinx.

## *Where* on the p

[2019-04-26 20:19] mseng10 opened #439 "Problems accessing scripts using Sphinx"
## *What* is affected by this bug?
The warnings prevent proper documentation of python scripts to be built. **No** functionality of actual scripts are affected. However, the warnings present are due to issues finding the python scripts.

In AutoWorkup/Sphinx/conf.py you can specify the paths to find the desired python scripts. Then using an rst one can enter the script name and autodocument. Howev

[2019-04-26 20:19] mseng10 opened #440 "Problems autodocumenting scripts using Sphinx"
## *What* is affected by this bug?
These warnings prevent proper documentation of python scripts to be built. **No** functionality of actual scripts are affected. However, the warnings present are due to the functionality of the code itself.

## *When* does this occur?
Occurs after building html documentation under BRAINSTools/AutoWorkup/Sphinx using Sphinx.

## *Where* on the platform does it hap

[2019-05-27 07:35] reginakim opened #442 "Bug: inputLandmarkFiles.size() >= 2 instead of >2 ?"
@hjmjohnson

https://github.com/BRAINSia/BRAINSTools/blob/e4dd4e38e16c7cd1e358495cc04ab26ecb08c271/BRAINSConstellationDetector/landmarkStatistics/GenerateAverageLmkFile.cxx#L49

I think this is typo. Current way (inputLandmarkFiles.size() >2) will skip if the number of landmark files given is exactly two. Throwing error:
 "ERROR: No input file name is defined"

Please confirm and update. :)

Regin

[2019-05-27 12:32] hjmjohnson commented on #442
Please provide a PR and I will approve very quickly.  I think you are correct.

[2019-05-27 17:40] tashrifbillah commented on #436
ping ...

[2019-05-27 17:42] #422 closed

[2019-05-27 21:40] tashrifbillah commented on #436
Okay, I found solution for this:

After the following is complete:
[code]

We should do:

[code]

This should be the [commit](https://github.com/BRAINSia/BRAINSTools/commit/9d29f0f0488b2ec016f629d00548fe000c0064c3#diff-88b37dcc9267d819b6fabff68a8e5290) that decoupled automatic building of sub-modules.

Here is the ITK documentation about the process I followed:
https://github.com/InsightSoftwareCo

[2019-05-27 21:40] #436 closed

[2019-05-28 01:11] reginakim opened #444 "Missing 'from collection import OrderedDict'?"
I am only suggesting this (not committing change) because my branch is kinda old to confirm this behavior. If someone is actively testing template.py, please do proceed update.

Otherwise, please wait for me to do the branch update, test, and commit for the fix. I could do confirm & update soon.. later this week.

https://github.com/BRAINSia/BRAINSTools/blob/e4dd4e38e16c7cd1e358495cc04ab26ecb08c27

[2019-07-22 15:14] pieper opened #449 "interpolator type issue (was: can't use transform template in ITK5)"
## *Who* is the bug affecting?

Slicer developers

## *What* is affected by this bug?

Can't compile Slicer with ITK 5 release (worked for rc1)

## *When* does this occur?

It's a compile issue.

## *Where* on the platform does it happen?

Happens on gcc 7.4.0 on unbuntu 18.04 with Slicer current master.

## *How* do we replicate the issue?

Update ITK version as shown here:

https://github.com/pi

[2019-07-22 15:34] pieper commented on #449
Update, I realized this error happens with the [Slicer fork of BRAINSTools](https://github.com/Slicer/BRAINSTools).  Will try again with current Brainsia master.

[2019-07-22 15:54] pieper commented on #449
Previous build error seems to have simply been a missing `#include` line.

But now with the current master of BRAINSTools and Slicer with ITK5 release, I get this build error.

@hjmjohnson any suggestions?

[code]

[2019-07-22 17:12] hjmjohnson commented on #449
I would turn off building BRAINSDemonWarp,  I don’t think anyone will miss it.  We have been using ANTs for nearly a decade instead of this tool.

Hans

From: "notifications@github.com" <notifications@github.com>
Reply-To: BRAINSia/BRAINSTools <reply@reply.github.com>
Date: Monday, July 22, 2019 at 10:54 AM
To: BRAINSia/BRAINSTools <BRAINSTools@noreply.github.com>
Cc: Hans Johnson <hans.j.johnson@

[2019-07-22 18:24] pieper commented on #449
Thanks Hans.  That works for me.  I created a PR based on this.

https://github.com/Slicer/Slicer/pull/1179

[2019-07-22 18:24] #449 closed

[2019-09-17 13:39] neurolabusc opened #457 "DWIConvert converts UINT16 as INT16"
This bug impacts DICOM conversion of 16-bit UNSIGNED data with voxels where raw intensity exceeds 32767 (e.g. MRI magnitude images using full range of 16-bit datatype)

Consider a DICOM file with the following tags:

[code]

NRRD files created report `type: short` whereas the [type field](http://teem.sourceforge.net/nrrd/format.html#type)  should report `type: ushort`. The consequence of this is t

[2019-12-19 04:55] Qasim-Latrobe opened #461 "BCD: Error during Reading in external files"
## *Who* is the bug affecting?
The BCD doesn't run.

## *What* is affected by this bug?
The error doesn't allow BCD to run at all.

## *When* does this occur?
Whenever I try to run BCD.

## *Where* on the platform does it happen?
Ubuntu command line.

## *How* do we replicate the issue?
1) Install Ubuntu shell on windows 10.
2) Build BRAINSTools as described by Readme Document.
3) Run BCD as bash

[2020-01-29 19:34] Adam123-png opened #465 "GTRACT command line Slicer 4.10."
Hello all,

I want to run GTRACT tools in the 3D Slicer 4.10.2. app on Windows 10. I already downloaded the GTRACT folder but now I don´t know where to put the GTRACT folder in order to start using GTRACT tools.

Slicer.exe is here: C:\Program Files\Slicer 4.10.2. Should I put GTRACT folder here: C:\Program Files\Slicer 4.10.2\lib\Slicer-4.10\cli-modules where other Slicer tools are placed?

How c

[2020-03-04 09:56] felixnavarro commented on #292
Dear developers,
Was this problem in any particular version?
Thanks.

[2020-04-22 17:03] #438 closed

[2020-04-22 17:03] #439 closed

[2020-04-22 17:03] #440 closed

[2020-07-04 00:02] smeisler commented on #370
I am sorry to reopen this after so long, but I am using the newest DWIConvert (5.3.0) and am experiencing the same issue after using DTIPrep 1.2.10.

[2020-07-04 15:19] hjmjohnson commented on #421
I think this has been fixed recently.

[2020-07-04 15:19] #421 closed

[2020-07-04 15:22] hjmjohnson commented on #370
Can you provide an anonymized data example so that I can track down what is going wrong?  I will need to be able to replicate the problem before it can be solved.

[2020-07-04 15:25] hjmjohnson commented on #465
GTRACT is primarily a command line tool.  I don't know what you mean by "downloaded the GTRACT folder".  It is a C++ program that requires compiling to generate the binaries.  It sounds like perhaps you did not compile the BRAINSTools package.

[2020-07-04 15:25] #465 closed

[2020-07-31 12:51] hjmjohnson commented on #461
BCD has undergone significant fixes and easier installation over the past few months.  Please retry.

[2020-07-31 12:51] #461 closed

[2020-07-31 12:53] hjmjohnson commented on #442
Resolved last year.

[2020-07-31 12:53] #442 closed

[2021-02-02 19:52] kianjweimer opened #489 "Float output type required for updated itk::SignedMaurerDistanceMapImageFilter"
The BRAINSTools version of ITK is a bit out of date. In the process of updating to the latest version of ITK, I encountered the following error. This will need to be resolved before several external packages can be updated.

After switching to the latest ITK version, BRAINSTools will fail to build. A small portion of the error output is shown below.
`error: conversion from ‘itk::Concept::IsFloatin

[2021-02-04 23:29] #489 closed

[2021-02-16 00:29] hjmjohnson opened #494 "Fix GH-PAGES"
https://brainsia.github.io/BRAINSTools/ has outdated information.

The files are located in the "/docs" directory.

Please update the style, content, and references to the best of your current knowledge.

[2021-12-23 07:01] vsmallerx commented on #389
The same error occurred on my computer. Did you fix your problem? Thanks!

[2021-12-23 14:53] hjmjohnson commented on #389
@vsmallerx I thought this problem was resolved quite some time ago with an update to TBB and better cmake support.

Can you please let me know more details so that I may try to replicate and resolve if the problem persists?

1) What is the hash of the github version of BRAINSTools that you are building?
2) What is the version of compiler & OS you are using?

[2021-12-25 15:14] hjmjohnson commented on #389
Could no longer replicate the problem.

[2021-12-25 15:14] #389 closed

[2021-12-26 06:57] vsmallerx commented on #389
@hjmjohnson Hi,  I reinstall the cmake for ubuntu and No more problems. Thanks!!

[2022-07-18 15:19] s2334 opened #527 "problems with installation"
I'm running ubuntu and I'm trying to install BRAINSTools.  I followed the instructions:
[code]

And got the error "python2.7-dev: command not found."
I ignored the last step and continued with:

[code]
This ran without issues but then:

[code]

I got the error
[code]

Can someone help me please?

[2022-09-05 05:33] oguzcanbekar commented on #527
Hi could you find the solution for this situation?

[2022-09-05 13:12] hjmjohnson commented on #527
It appears that your environmental variable ${NUMOFTHREADS} is not set properly.

You should run the commands one at a time, and diagnose each problem separately.

The newline between "python" and "python-dev" needs to be removed, or you need to run `apt-get` to install each package separately.

You may want to ask your system administrator, or someone with unix experience to help you.

[2022-09-05 13:12] #527 closed

[2022-09-05 13:16] hjmjohnson commented on #306
We are probably not going to fix this.

[2022-09-05 13:16] #306 closed

[2022-09-05 13:17] hjmjohnson commented on #324
This project is losing interest.

[2022-09-05 13:17] #324 closed

[2022-09-05 13:18] hjmjohnson commented on #325
Abandoned project.

[2022-09-05 13:18] #325 closed